[2021-09-13 20:10] mukeshelastic commented on #1032
@mostlyjason Thanks for writing this up and discussing it in our docs sync.

Here is how I was thinking about the [capabilities](https://www.elastic.co/guide/en/fleet/current/beats-agent-comparison.html) page (even though the page doesn't explicitly outline that objective at the top, something we should change) The beats and agents capabilities page is aimed at beats users to assess the functional

[2021-09-14 20:13] #1022 closed

[2021-09-15 14:56] EamonnTP opened #1063 "[Metrics] Host details: add container tab content"
## Description

The container tab in the enhanced host details overlay requires documentation.

Related issue: https://github.com/elastic/observability-design/issues/27

## Collaboration

* [x] The docs team will lead producing the content
* [ ] The product team will provide the initial content and the docs team will edit / review
* [ ] The docs team will define with product team the structure and

[2021-09-15 16:20] #900 closed

[2021-09-15 20:45] n0othing opened #1066 "[Request] Document `*@custom` component templates"
## Description

Many integrations allow users to make index template adjustments via `*@custom` component templates. For instance the `logs-system.syslog` index template is composed of a `logs-system.syslog@custom` component template. It'd be helpful to document the existence of these component templates + their intended purpose.

[2021-09-15 21:03] n0othing opened #1070 "[Request] Document the use of `Managed` index templates"
## Description

Fleet integrations come with lots of `Managed` index templates:

![managed](https://user-images.githubusercontent.com/11917935/133509102-5fea3a01-fcf8-4b7a-a6b9-2842e90d2dc7.jpg)

It'd be helpful to document what `Managed` means in the context of Fleet/Integrations and any precautions users should take if they want to edit them.

[2021-09-15 21:36] bmorelli25 commented on #878
Closed in #1029.

[2021-09-15 21:36] #878 closed

[2021-09-15 21:40] bmorelli25 opened #1071 "Update the Observability Guide to use Elastic Agent"
## Summary

The [Observability guide](https://www.elastic.co/guide/en/observability/master/add-observability-data.html) currently documents ingestion with Beats shippers and a standalone APM Server architecture. We should update the ingest content to use Elastic Agent integrations instead.

## Related

* Related to https://github.com/elastic/observability-docs/issues/784, which will rework the Fle

[2021-09-16 13:32] bmorelli25 commented on #1023
@simitt to verify timeline

[2021-09-16 14:38] ollyhowell commented on #1008
<ignore my comments - was just testing the _add to project_ workflow>

[2021-09-16 17:23] bmorelli25 opened #1073 "[Request] Create APM integration documentation"
## Description

Create a new APM integration documentation book. This book should contain all APM Overview content and a new, legacy section for deprecated content.

### 7.16

**Move old content. Make easy updates. Stop building old docs.**

- [x] Move deprecated documentation to a legacy directory
  * https://github.com/elastic/apm-server/pull/6287
- [x] Add the `APM User Guide` to the doc build

[2021-09-20 13:00] mostlyjason commented on #971
Sure good idea to link to the Fleet Server guide that Nima is drafting up since it talks about how to scale the hosted agent/fleet server

[2021-09-20 13:04] mostlyjason commented on #750
Yep closing

[2021-09-20 13:04] #750 closed

[2021-09-20 13:29] mostlyjason commented on #1032
Thanks @mukeshelastic a simpler page seems like a good suggestion. I updated the title and description to reflect that.

[2021-09-20 13:41] mostlyjason commented on #1032
@nimarezainia any input on who should be the PM owner for this page? Beats/Agent are the agent team's area, but we'd like a link for the unified integrations view in 7.16 and I'm not sure on your capacity.

[2021-09-20 15:18] DanRoscigno commented on #1057
@elastic/obs-docs once product/dev gives you the scoop on how this works ping me if you want some background on this, I opened [the issue](https://github.com/elastic/integrations/issues/244) for this.  I think that the MySQL example I used in the issue would be a good simple one to use in the docs.

[2021-09-20 15:32] #668 closed

[2021-09-20 15:32] #989 closed

[2021-09-21 12:28] andrewvc commented on #672
I'm worried that for synthetics moving the quickstart guide would really negatively impact the structure of the content there. Can we just do links instead of moving the docs? Synthetics is a complex topic, so it makes more sense to keep it all together, a short quickstart may seem marooned from the required context, and for people landing on the synthetics guide it will seem like content is missi

[2021-09-21 19:16] dedemorton opened #1084 "[Request] Add disclaimer to standalone agent documentation"
## Description

Running Elastic Agent standalone is currently considered to be an advanced use case, and the documentation is incomplete.  We need to add a disclaimer to the documentation to set user expectations.

## Collaboration

* [x] The docs team will lead producing the content
* [ ] The product team will provide the initial content and the docs team will edit / review
* [ ] The docs team wi

[2021-09-22 09:03] EamonnTP opened #1087 "Update Observability overview page."
## Description

It would be nice to update the current [Observability overview](https://www.elastic.co/guide/en/observability/current/observability-ui.html) topic to include a brief high-level intro of all the available pages within the Observability UI. The content would provide a user with a one topic overview of the whole UI and links to the app's relevant topic.

The topic would be renamed to

[2021-09-22 09:03] EamonnTP commented on #1087
Pinging @elastic/obs-docs for thoughts on this.

[2021-09-22 10:16] hop-dev commented on #986
@mostlyjason @joshdover I have laid out instructions for the two options we have here in a very rough way here:

https://gist.github.com/hop-dev/3e7798fd06c13a9acf36594aa797d4ba

before I create draft documentation we need to decide whether we are going to document option 1 or 2 (or both), I'll include a high level description here but more detail can be found in the gist above:

- **option 1** -

[2021-09-22 15:20] EricDavisX commented on #593
Proxy support had a few bugs that are included as part of 7.15, the Agent team finished testing and this remains the only remaining piece to close out the meta/tracking ticket for Agent proxy support.

[2021-09-22 19:17] dedemorton commented on #1087
I would not rename the topic to "Observability UI" because I don't think users will search on that phrase.

In general, I think it's better when docs focus on user goals rather than documenting the pages of the UI, but I can see where this info might be useful, especially if we want to link from the product to the docs. The overview *should* describe all the features that are available; I just thi

[2021-09-22 19:29] KOTungseth commented on #1087
For the Kibana docs, we're moving away from providing our users with UI tours since they can click around the UIs on their own. Instead, we're creating actionable sections that include:

- Goal-oriented and actionable page title, such as `Make dashboards interactive`
- Value prop, such as `Discover enables you to quickly search and filter your data, get information about the structure of the field

[2021-09-23 02:52] dedemorton commented on #523
Closed by https://github.com/elastic/observability-docs/pull/1061

[2021-09-23 02:52] #523 closed

[2021-09-23 02:53] dedemorton commented on #1006
Added links to Filebeat modules in https://github.com/elastic/beats/pull/28036

[2021-09-23 03:05] dedemorton commented on #1071
As part of this effort, we need to make sure the stack getting started gets updated, too. Otherwise, I think it will be confusing to users.

[2021-09-23 07:10] AlexanderWert opened #1092 "[Request] .NET Profiler-based instrumentation documentation"
## Description

The .NET APM agent comes with a new experimental feature: [CLR-Profiler-based instrumentation](https://github.com/elastic/apm-agent-dotnet-auto-instrumentation/issues/2).
There is already a comprehensive documentation for this new feature in the [profiler-agent-fork repository](https://github.com/elastic/apm-agent-dotnet-auto-instrumentation/blob/master/docs/setup-auto-instrumentat

[2021-09-23 08:03] EamonnTP commented on #1087
Thanks @dedemorton @KOTungseth This makes sense. It's a big + from me in regards to focusing more on user goals. It's safe to say that we can close this issue. @KOTungseth Are there any open issues for updating the Observability topic in the Kibana docs?

[2021-09-23 10:08] EamonnTP opened #1096 "Renaming of index patterns to data views"
## Description

Related issue: https://github.com/elastic/kibana/issues/100844

Looks like we now have shared attributes for **Data view** in the docs repo.

cc @elastic/obs-docs

## Collaboration

* [x] The docs team will lead producing the content
* [ ] The product team will provide the initial content and the docs team will edit / review
* [ ] The docs team will define with product team the str

[2021-09-23 18:52] #959 closed

[2021-09-23 18:52] #1009 closed

[2021-09-23 20:04] dedemorton commented on #1084
@andresrc I think it would be good to do this sooner rather than later. Should we go forward with this?

[2021-09-23 21:52] bmorelli25 commented on #1096
The Kibana index pattern documentation URL is also changing as a part of this renaming. All documentation links will need to be updated: `index-patterns.html` (old) → `data-views.html` (new). See https://github.com/elastic/kibana/pull/110421.

[2021-09-27 15:34] mostlyjason commented on #986
@hop-dev @joshdover Offering users two different ways seems like we are making the decision process more complex for users. Is there a way we can recommend a single solution that solves most users' needs? When we implement our medium term solution in the UI, which of this approaches will we implement? That might be best from a long term perspective.

From a user needs perspective, I think we need

[2021-09-27 15:57] bmorelli25 commented on #983
Missing links have all been added. Closing. 🚢

[2021-09-27 15:57] #983 closed

[2021-09-27 18:15] goodroot commented on #962
@bmorelli25 @dedemorton Hi folks.

The splitting work that unblocks a sovereign docs.elastic.co property is almost complete.

As such, it is time to return back to automation.

Our goals are:

* The wordlake should not receive edits.
* The integrations/docs team will need to maintain a navigation. We scripted it for the MVP.
* The docs needs to land into wordlake "completed", and we will build on

[2021-09-27 18:34] #1006 closed

[2021-09-28 12:28] ollyhowell commented on #1087
Is is still worth discussing renaming this page to _something_ though?
Right now it's "Observability overview page" which to me seems odd to include "page", though I don't know if that's a style guide choice to explicitly call it out as a "page" within Kibana (can't find any relevant style guide entries).

Another general question I have is the page title vs. page name i.e. observability-ui.html.

[2021-09-28 13:23] EamonnTP commented on #1087
Apart from this page, I think we do a pretty good job in the Observability guide for keeping similar page titles and page names. When we created the first draft of the guide, we added the `observability-ui asciidoc` file at the very start, so the title might be a little redundant now. However, we do use the `<titleabbrev>` element, so we can rename the title to whatever we like. Maybe just `Overvi

[2021-09-28 15:42] EricDavisX opened #1103 "[Request] Need to review / tweak docs on how to upgrade integrations (for when auto-upgrade won't work)"
## Description
based on the work done in Kibana Fleet and as doc'ed here:
https://github.com/elastic/observability-docs/pull/1029/files#diff-412dafddd8ce282acddb187794445e0c6ff79a360c7ccca9da1c2c4b09bb78d5R341

we are doc'ing mostly just the auto-upgrade feature.  But it is known that in some advanced cases (even from just 1 version back) the Integration upgrade won't work, so I think we should le

[2021-09-28 18:00] dedemorton opened #1104 "[Request] Rename the Fleet User Guide to Fleet and Elastic Agent Guide"
## Description

Current doc title does not convey the fact that the book includes content about Fleet and Elastic Agent. We discussed various options, including _Fleet and Elastic Agent Operator's Guide_, _Data Ingestion Guide_, and just simply _Fleet and Elastic Agent_.

I propose that we use _Fleet and Elastic Agent Guide_. It follows the pattern established by the Kibana Guide and broadens the

[2021-09-28 19:35] dedemorton commented on #1087
I think Olly is right. It needs a better title. Looking at the UI, I can see there's a link to this page from Kibana, but we don't really do panel-level help in our docs, and it sounds like we're getting away from doing UI tours. So this page is kind of an outlier.

Would it make sense to recast this page as a user goal? Something like "Get started viewing your data".

As a user, when I'm looking

[2021-09-29 08:38] EamonnTP commented on #1087
Sounds good. Once we have the Fleet getting started content in the Observability guide, I will work on this topic and link to the new content.

[2021-09-29 12:49] ollyhowell commented on #672
Thanks for the comment @andrewvc and apologies, I meant to respond in issue sooner but we have had a couple of discussions about this and it's actually a trickier issue than it appears...

I don't think I'm yet convinced moving the synthetics quick start topics (plural, which is notable!) into the Send Data to ES topic makes sense right now. It's an interesting example which touches on the broader

[2021-09-29 13:01] EamonnTP commented on #672
I like the idea of changing the [Send data to ES](https://www.elastic.co/guide/en/observability/current/add-observability-data.html) bucket into a one topic landing page that contains all the links to the various quick starts (that would reside in their respective sections within the TOC). And I agree we shouldn't move the Synthetics quick starts.

I think before we start moving the Fleet quick st

[2021-09-29 13:10] andrewvc opened #1105 "[Synthetics] Improve discussion of imports in `synthetics.config.ts`"
Per [this forum post](https://discuss.elastic.co/t/synthetics-test-configuration/284150) our docs covering `synthetics.config.ts` are incomplete, and only cover putting it in a node module. We should document the multiple ways this file can be used.

[2021-09-29 13:13] ollyhowell opened #1106 "test"

[2021-09-29 13:23] ollyhowell opened #1107 "[Request] Add guidance on Beats vs. Agent"
## Description

We need to provide better guidance to users on when they can use Agent, in comparison with Beats.

## Collaboration

* [x] The product team will provide the initial content and the docs team will edit / review

**Contact Person:** @nimarezainia

## Suggested Target Release

Next available

## Stakeholders

[2021-09-29 15:18] ollyhowell commented on #1087
Sorry, horrible phrasing but meant 'how easy is it to rename pages and handle redirects within the current toolchain?'

[2021-09-29 15:26] #1106 closed

[2021-09-29 16:24] dedemorton commented on #1087
@ollyhowell It's a manual process. We have to ask the web team to create a redirect for every URL that's changed (including URLs for each version that's impacted). Then we have to fix any doc links that point to the renamed page. Usually that means opening a PR, seeing what breaks in the build, then going off to multiple repos to fix all the links.

Sometimes we end up with multiple redirects (aft

[2021-09-30 14:02] ollyhowell commented on #1107
Related to https://github.com/elastic/observability-docs/issues/1032

[2021-09-30 16:18] dedemorton commented on #1104
@mostlyjason @nimarezainia We'd like your input on the renaming of this guide.

[2021-10-01 19:27] dedemorton opened #1111 "[Request] Simplify synthetics steps shown in the Quick Start for agent/fleet"
## Description

We should simplify the [synthetics instructions in the quick start guide](https://www.elastic.co/guide/en/fleet/current/fleet-quick-start.html#add-synthetics-integration) by showing a simple HTTP monitor that users are unlikely to mess up. Otherwise, users might get the settings wrong and be forced to edit the integration policy.

Also, providing a simple example helps us avoid hav

[2021-10-01 22:13] dedemorton commented on #239
@ollyhowell I'm working on a topic about Fleet Management to glue the sections of the reorganized Fleet/Agent Guide together. I think it makes sense for me to talk about the two types of management (infrastructure and policy) in the section that I'm working on right now, so I don't think you need to cover it in the overview. Next week, take a look at what I've written, and you can decide.

[2021-10-04 13:02] mostlyjason opened #1112 "Elastic Agent integration naming"
An "Elastic integration" is a broad term that can indicate any kind of integration including Beats, enterprise search and more.  We should use the naming "Elastic Agent integration" to help distinguish them from other kinds of integrations when content is talking specifically about Elastic Agent.

Pages to update:
https://www.elastic.co/guide/en/fleet/current/integrations.html#update-integration
h

[2021-10-04 13:02] joshdover commented on #986
In order to support namespace-specific customizations, we'll need to create a duplicate index templates and component templates for each namespace x data stream. Where we are right now, I doubt we want to be creating these by default since it will result in a very large number of templates for each integration that is installed. There are both technical and UX issues with creating such a large num

[2021-10-04 16:31] dedemorton commented on #1059
Nothing here that I've made some improvements to the standalone docs during the TOC reorg: https://github.com/elastic/observability-docs/issues/784

[2021-10-04 19:13] mostlyjason commented on #1104
👍

[2021-10-05 14:57] joshdover commented on #986
Yesterday we discussed the different options and need for further investigating for the long-term solution here, but we didn't make a decision on what to do for phase 0 for 7.16. @mostlyjason any opposition to moving forward with option (2)? I believe it's likely to be compatible with any long-term option we end up choosing and gives user on 7.16 the most flexibility to use namespace-specific ILM

[2021-10-05 15:26] ollyhowell commented on #1104
LGTM!

[2021-10-05 19:13] dedemorton commented on #1104
Closing because the book is now renamed.

[2021-10-05 19:13] #1104 closed

[2021-10-05 20:59] bmorelli25 opened #1131 "Integrations doc updates"
- [x] Update the crowdstrike integration to include a new data stream: https://github.com/elastic/integrations/tree/master/packages/crowdstrike
- [x] Add pfSense integration: https://github.com/elastic/integrations/tree/master/packages/pfsense

[2021-10-05 22:40] astorm opened #1132 "[Request] "APM Overview -> Features -> Lambda Extension" Page"
## Description

The APM Agents team is working on a new AWS Lambda extension.  This extension will be used along side the agent in order to facilitate sending data to APM Server.  This new product will require an information and installer page.  After discussing with @bmorelli25, we decided that the best place for this page would by at `APM Overview -> Features`

The initial doc will be written by

[2021-10-06 01:02] dedemorton commented on #784
The structural changes are now merged in https://github.com/elastic/observability-docs/issues/784.

[2021-10-06 18:11] dedemorton commented on #672
@EamonnTP But the problem with putting the quick starts under each bucket is that the [quick start for Fleet and Elastic Agent](https://www.elastic.co/guide/en/fleet/current/fleet-quick-start.html) covers logs, metrics, and uptime. The real power of observability is being able to see all your data in one place, so I don't think we want to break things down further.

@ollyhowell I think it's time f

[2021-10-07 01:37] dedemorton commented on #362
Closing this issue because I think adding the widgets will make that doc harder to read.

[2021-10-07 01:37] #362 closed

[2021-10-07 17:23] #665 closed

[2021-10-07 17:52] dedemorton commented on #588
This is a duplicate of https://github.com/elastic/observability-docs/issues/1030, which has more details, so I am closing it.

[2021-10-07 17:52] #588 closed

[2021-10-13 22:02] dedemorton commented on #1071
The quick start guides are moved over to the obs guide in https://github.com/elastic/observability-docs/pull/1149.

After that PR is merged, we need to do some related cleanup in the obs docs:

* Remove repetition in the Spin up the Elastic Stack page and the Prerequisites section in the first two Elastic Agent quick starts. At some point in the future we might be able to refine the preq section,

[2021-10-14 20:31] dominiqueclarke opened #1170 "[Synthetics integration] Remove references to running as root for icmp users"
Following https://github.com/elastic/beats/issues/28409, we no longer need to run elastic-agent as root to run icmp pings. We should remove references to running as root for ICMP monitors in the Synthetics Quickstart with Elastic Agent and Fleet documentation.

[2021-10-15 03:28] insukcho commented on #1036
As the [comment](https://github.com/elastic/sdh-apm/issues/346#issuecomment-932073823) from @sqren,
if we want to upgrade from 6.x to 7.13 or higher, we first have to upgrade to 7.12 before upgrading to 7.13. We need to put this restriction in a public reference, too.

[2021-10-15 17:32] andresrc opened #1173 "[Request] Journalbeat to be removed in 7.16"
## Description

*(Describe what needs to be documented. Link to relevant issues.)*

Journal beat is going to be removed in 7.16. The functionality has been subsumed into the `journald` input in filebeat (see [docs](https://www.elastic.co/guide/en/beats/filebeat/master/filebeat-input-journald.html)). Directly removing the docs might be confusing for current users so the proposal (open for discussio

[2021-10-15 17:37] andresrc opened #1174 "[Request] Completely remove journalbeat book."
## Description

*(Describe what needs to be documented. Link to relevant issues.)*

After #1173 , we should completely remove the journalbeat book in 8.0. This might require some additional adjustments and / or redirects.

## Collaboration

* [x] The docs team will lead producing the content
* [ ] The product team will provide the initial content and the docs team will edit / review
* [ ] The docs

[2021-10-15 21:01] bmorelli25 opened #1175 "Update RUM custom app upload example"
We have a [sample app](https://www.elastic.co/guide/en/apm/server/current/sourcemaps.html#sourcemap-custom-app) in our documentation that explains how to upload a source map to APM Server (soon to be Kibana). This example uses [`request`](https://www.npmjs.com/package/request), which was deprecated in 2020. What package can we replace this example with? @elastic/apm-agent-rum

[code]

[2021-10-15 22:20] vigneshshanmugam commented on #1175
We could go with `ndoe-fetch`  or `unfetch` which would be closer to the Fetch Spec in the browser and would be easy to reason about platform wise for all JS devs.

[2021-10-18 21:19] nimarezainia commented on #1174
I am not sure what we need to provide if it's being removed.

Where is a good place to mention that the journalbeat functionality is being provided by Filebeat? Would we still keep Journalbeat section and have this blurb inside that section.

[2021-10-19 00:18] astorm commented on #1132
Rough draft of feature document is here: https://github.com/elastic/apm-aws-lambda/pull/55

[2021-10-19 20:36] andresrc commented on #1174
This issue is for 8.0 - in 7.16 we will keep the book and add the reference to the functionality being part of functionbeat. Please see #1173

[2021-10-20 17:16] dedemorton opened #1185 "[meta] Update documentation to show unified integrations view"
## Description

Starting in 7.16, the integrations view is changing and will include cards for Beats and other technologies (not just Elastic Agent integrations). We need to update the docs to reflect this change.

Related issue: https://github.com/elastic/docs.elastic.co/issues/1

## Collaboration

* [x] The docs team will lead producing the content
* [ ] The product team will provide the initial

[2021-10-21 16:46] bmorelli25 commented on #986
Hey everyone! I'll be the technical writer helping out with this issue. Thanks for all of the work so far on this.

@hop-dev Thanks for the draft! I'll take a look and let you know if I need anything else.

@joshdover The link Jason provided is probably a safe bet. If we need to move the content later I can set up redirects.

[2021-10-25 08:58] shahzad31 opened #1189 "[Uptime] Formatting issue in troubleshoot mapping docs"
## Description
In this PR https://github.com/elastic/observability-docs/pull/1046 we added docs to trouble uptime mapping issues.

Docs are great, but noticed some incosistency, at start it says  To achieve this, follow the steps below. And at the end it says `Step 5: Run Hearbeat/Elastic Agent again` it does adds headings for other steps, but it does not says Step 1:, Step 2:,

I think we should

[2021-10-26 14:03] vinaychandrasekhar opened #1190 "[Request] Observability RAC features documentation in 7.16"
## Description
Observability RAC features - the new Alerts View, the new Cases View, and alert annotations in APM - will be made available to all users as "Experimental" features in 7.16. Please see reference and communication links below. These new features will need accompanying documentation describing the functionality. Requesting updates to the following documentation, and would welcome guida

[2021-10-26 22:56] jen-huang opened #1191 "[Request][Fleet] Clarify licensing requirements for bulk management of agents"
## Description

On the page describing how to upgrade Elastic Agents via Fleet (https://www.elastic.co/guide/en/fleet/current/upgrade-elastic-agent.html#upgrade-agent) it says:

We should add licensing requirements for this as bulk management of agent in Fleet is a Gold+ feature.

## Suggested Target Release

As far back as possible - the licensing requirement has been in place since the feature w

[2021-10-29 20:45] #986 closed

[2021-11-01 17:18] joshdover opened #1202 "Add documentation to explicitly state that Fleet does not support Kibana's "legacy multitenancy" in 7.x"
In 7.x, Kibana still supports having multiple, separate Kibana installations on top of a single Elasticsearch cluster by setting the `kibana.index` setting where Saved Objects are stored. This is referred to as "legacy multi-tenancy" and has been replaced with Kibana Spaces. In 8.0, Kibana is removing this feature entirely.

The Fleet app has never supported this type of functionality, so if a use

[2021-11-02 00:35] dedemorton commented on #877
@mostlyjason I think this page satisfies most of the changes you've requested: https://www.elastic.co/guide/en/fleet/7.16/manage-agents-in-fleet.html

I think the point about upgrades probably belongs in the documentation about upgrading though. WDYT?

[2021-11-02 12:27] lucabelluccini opened #1207 "HTTP JSON Input supported in Elastic Agent but it is not exposed by any integration"
The documentation page <https://www.elastic.co/guide/en/fleet/master/beats-agent-comparison.html#supported-inputs-beats-and-agent> shows HTTP JSON input is supported in Elastic Agent.

There are several Integrations using `httpjson` under the hood, but we do not have any exposing `httpjson` input or which allow collecting data from a custom `httpjson` source.

We have also an issue which seems rel

[2021-11-02 16:27] dedemorton commented on #1207
@lucabelluccini Just to confirm: it sounds like we just need to remove the check mark next to httpjson input for standalone and managed Elastic Agent?

@mostlyjason @nimarezainia FYI

[2021-11-02 16:58] mostlyjason commented on #1207
@nimarezainia it sounds like the confusion is the meaning of the checkmark on that page. I think you intended it to say that the input was supported internally for integrations, but the reader interpreted that as being available for customers to use directly?

[2021-11-02 17:24] lucabelluccini commented on #1207
**An example**

I want to migrate a Filebeat where I'm using `httpjson` to an Agent.
Checking that table I would be tricked by the fact there's an integration/solution for me to use the `httpjson` and decommission my Filebeat with an Agent.

[2021-11-03 17:05] mostlyjason commented on #877
Looks great I think we can close this then. The upgrade docs already list internet access as a requirement.

[2021-11-03 17:05] #877 closed

[2021-11-03 19:46] astorm commented on #1132
Initial doc merged in https://github.com/elastic/apm-aws-lambda/pull/55

[2021-11-03 19:51] bmorelli25 opened #1213 "Deprecate `apm_system` user"
### Summary

Deprecate the `apm_system user role and describe the required privileges instead.

### Where?

- https://www.elastic.co/guide/en/apm/server/current/privileges-to-publish-monitoring.html#privileges-to-publish-monitoring-internal
- https://www.elastic.co/guide/en/apm/server/current/monitoring-internal-collection.html

[2021-11-03 20:17] #509 closed

[2021-11-03 20:28] bmorelli25 commented on #1132
Thanks, Alan! Here's my to do list:

- [ ] Open infra ticket to add the `elasticsearch/ci docs` check to the `elastic/apm-aws-lambda` repo
- [ ] Add the `elasticsearch/ci docs` webhook to the repo
- [ ] Open PR in `elastic/apm-server` to pull new docs in
- [ ] Adjust initial docs as necessary

[2021-11-04 15:56] jlind23 opened #1857 "External fleet server configuration"

[2021-11-04 20:24] bmorelli25 opened #1214 "[Go agent] Update APM language and links"
### Summary

The APM Server standalone binaries are deprecating in 7.16. Agent documentation needs to be updated to refer to Elastic Agent and the APM integration, and links need to be updated to point to the new [APM Guide documentation](https://www.elastic.co/guide/en/apm/guide/current/index.html).

As a part of this issue, the following links need to be fixed:

[code]

### Related

For https://

[2021-11-04 20:26] bmorelli25 opened #1215 "[.NET agent] Update APM language and links"
### Summary

The APM Server standalone binaries are deprecating in 7.16. Agent documentation needs to be updated to refer to Elastic Agent and the APM integration, and links need to be updated to point to the new [APM Guide documentation](https://www.elastic.co/guide/en/apm/guide/current/index.html).

As a part of this issue, the following links need to be fixed:

[code]

### Related

For https://

[2021-11-04 20:27] bmorelli25 opened #1216 "[Java agent] Update APM language and links"
### Summary

The APM Server standalone binaries are deprecating in 7.16. Agent documentation needs to be updated to refer to Elastic Agent and the APM integration, and links need to be updated to point to the new [APM Guide documentation](https://www.elastic.co/guide/en/apm/guide/current/index.html).

As a part of this issue, the following links need to be fixed:

[code]

### Related

For https://

[2021-11-04 20:28] bmorelli25 opened #1217 "[Node.js agent] Update APM language and links"
### Summary

The APM Server standalone binaries are deprecating in 7.16. Agent documentation needs to be updated to refer to Elastic Agent and the APM integration, and links need to be updated to point to the new [APM Guide documentation](https://www.elastic.co/guide/en/apm/guide/current/index.html).

As a part of this issue, the following links need to be fixed:

[code]

### Related

For https://

[2021-11-04 20:29] bmorelli25 opened #1218 "[PHP agent] Update APM language and links"
### Summary

The APM Server standalone binaries are deprecating in 7.16. Agent documentation needs to be updated to refer to Elastic Agent and the APM integration, and links need to be updated to point to the new [APM Guide documentation](https://www.elastic.co/guide/en/apm/guide/current/index.html).

As a part of this issue, the following links need to be fixed:

[code]

### Related

For https://

[2021-11-04 20:30] bmorelli25 opened #1219 "[Python agent] Update APM language and links"
### Summary

The APM Server standalone binaries are deprecating in 7.16. Agent documentation needs to be updated to refer to Elastic Agent and the APM integration, and links need to be updated to point to the new [APM Guide documentation](https://www.elastic.co/guide/en/apm/guide/current/index.html).

As a part of this issue, the following links need to be fixed:

[code]

### Related

For https://

[2021-11-04 20:30] bmorelli25 opened #1220 "[Ruby agent] Update APM language and links"
### Summary

The APM Server standalone binaries are deprecating in 7.16. Agent documentation needs to be updated to refer to Elastic Agent and the APM integration, and links need to be updated to point to the new [APM Guide documentation](https://www.elastic.co/guide/en/apm/guide/current/index.html).

As a part of this issue, the following links need to be fixed:

[code]

### Related

For https://

[2021-11-04 20:31] bmorelli25 opened #1221 "[RUM agent] Update APM language and links"
### Summary

The APM Server standalone binaries are deprecating in 7.16. Agent documentation needs to be updated to refer to Elastic Agent and the APM integration, and links need to be updated to point to the new [APM Guide documentation](https://www.elastic.co/guide/en/apm/guide/current/index.html).

As a part of this issue, the following links need to be fixed:

[code]

### Related

For https://

[2021-11-04 20:32] bmorelli25 opened #1222 "[iOS agent] Update APM language and links"
### Summary

The APM Server standalone binaries are deprecating in 7.16. Agent documentation needs to be updated to refer to Elastic Agent and the APM integration, and links need to be updated to point to the new [APM Guide documentation](https://www.elastic.co/guide/en/apm/guide/current/index.html).

As a part of this issue, the following links need to be fixed:

[code]

### Related

For https://

[2021-11-04 20:54] bmorelli25 opened #1223 "[APM] Document data streams"
Add documentation for data streams.

* Preexisting content is here: https://www.elastic.co/guide/en/apm/guide/current/apm-integration-data-streams.html
* Populate here: https://www.elastic.co/guide/en/apm/guide/current/apm-data-streams.html
* Main data stream docs will live here: https://www.elastic.co/guide/en/fleet/current/data-streams.html

[2021-11-04 20:57] bmorelli25 opened #1224 "[APM] Document ILM policies and how to override them"
* Different ILM policies are set up for RUM and non-RUM transactions. Some details are in https://github.com/elastic/apm-server/pull/6480 and https://github.com/elastic/apm-server/pull/6378#discussion_r739364827.
* Document these (for now) here: https://www.elastic.co/guide/en/apm/guide/current/ilm-how-to.html
* Adapt the "customize ILM" example I wrote for Elastic Agent to APM: https://www.elasti

[2021-11-04 20:59] bmorelli25 opened #1225 "[APM] Update input settings names"
* Match grouping in the UI
* Find short, relevant titles instead of config variable names

Related conversation: https://github.com/elastic/apm-server/pull/6378#discussion_r739343901.

[2021-11-04 21:02] bmorelli25 opened #1226 "[APM] Document custom ingest pipelines"
### Related dev issue

* https://github.com/elastic/package-spec/issues/129

### Background

As of 8.0: The Fleet-managed ingest policy will be overwritten on reinstall/upgrade. Users can define their own custom ingest pipeline if needed, but they need to make sure that they also call the package-provided pipeline.

### Details

1. Fleet adds ingest pipelines for the APM integration using index te

[2021-11-04 21:07] bmorelli25 opened #1227 "[APM] Update terminology"
RE: This image:
https://www.elastic.co/guide/en/apm/guide/current/apm-components.html

[2021-11-04 21:09] bmorelli25 opened #1228 "[APM] Update data security pipeline example"
This example isn't accurate any more: https://www.elastic.co/guide/en/apm/guide/current/apm-data-security.html

There's a set of pipelines per data stream, so this needs to be updated.

[2021-11-04 21:11] bmorelli25 opened #1229 "[APM] Fix broken pages in legacy docs"
The changing chunk level of the legacy docs broke the page formatting of a few deeply nested pages. Adjust the pages to un-break the following links:

[code]

[2021-11-05 00:03] dedemorton commented on #784
Closing because this work is done for 7.16. I think we still need to identify content gaps, but before we do that, we should get through more of the high priority issues in GitHub.

[2021-11-05 00:03] #784 closed

[2021-11-05 00:57] bmorelli25 opened #1231 "[APM] Update quick start guides"
* The [Traces quick start guide](https://www.elastic.co/guide/en/observability/7.16/ingest-traces.html) needs to be updated and added to the [APM Guide documentation](https://www.elastic.co/guide/en/apm/guide/current/apm-quick-start.html)
* The [Instrument apps guide](https://www.elastic.co/guide/en/observability/7.16/instrument-apps.html) needs to be deprecated and fixed. It was broken in 7.16 wh

[2021-11-05 13:35] EamonnTP opened #1232 "[Synthetics] Phase out using Uptime checks terminology"
## Description

As part of phasing out using the **Uptime checks** terminology, we need to change the title of the following asciidoc file:

`monitor-uptime-asciidoc` -> `monitor-lightweight.asciidoc`

This update will required a redirect and updatied links in various other docs.

[2021-11-05 17:01] nimarezainia opened #1234 "[Request] Removing "-f" as a recommendation on the Elastic Agent install command"
## Removing the "-f" option in our recommendation of how Elastic Agent is deployed

*(Describe what needs to be documented. Link to relevant issues.)*

Throughout the docs we recommend that the Elastic Agent be installed/enrolled using the "-f" flag. This is valid but will also cause issues if the user continously calls with that flag on. While we are working on addressing the robustness around us

[2021-11-05 17:25] nimarezainia commented on #1207
@mostlyjason @dedemorton yes I see @lucabelluccini 's point here. As mentioned it's being used under the hood by integrations such as: apache, AWS, GCP, netscout and Okta but it's not available as a standalone input.  sorry for the confusion.

Could we uncheck those from the fleet managed agent. I believe Standalone would inherit from beats.

[2021-11-05 19:38] dedemorton commented on #1207
Opened https://github.com/elastic/observability-docs/pull/1238. Please review the PR when you get a chance. Thanks!

[2021-11-08 13:31] #1170 closed

[2021-11-08 13:31] #1189 closed

[2021-11-08 20:07] #1207 closed

[2021-11-09 03:22] dedemorton commented on #593
I have an initial PR up here: https://github.com/elastic/observability-docs/pull/1239

I went through the rat king of issues to figure this out as best I could, but I need someone to work with me on testing and filling in the missing details because I do not have an environment where I can test this setup.

It sounds like @michel-laterman tested this at one point, and maybe @lthach2 can help?

Who

[2021-11-09 11:56] ollyhowell opened #1249 "[Request] Document CI/CD functionality"
## Description

Document Observing CI/CD functionality as per https://github.com/elastic/observability-robots/issues/736

## Collaboration
* [x] The product team will provide the initial content and the docs team will edit / review

**Contact Person:** @cyrille-leclerc

## Suggested Target Release

Target date: 23rd November 2021
Target release: 7.16

## Stakeholders

[2021-11-09 14:36] shahzad31 opened #1250 "[Exploratory view permission] Exploratory view needs index pattern permissions to bootstrap"
## Description

In exploratory view, just like Lens, we need to create index patterns(data view) to create visualizations, an admin user at least needs to create relevenat data type series, once so that it can create those index patterns. Once that is done, at that point for exploraing purpose we don't need those permissions. But if user needs to save those viz or need to add to case, we need furt

[2021-11-09 19:21] lucabelluccini commented on #1044
Feedback:
- There is no list of supported inputs
- There are few examples around with `logfile` input (where is documented) and `system/metrics` input. Still, the https://www.elastic.co/guide/en/fleet/current/beats-agent-comparison.html#supported-inputs-beats-and-agent states they're supported.

[2021-11-09 22:06] dedemorton commented on #996
Adding my name to this issue because it's next up in my work queue.

[2021-11-10 11:09] ollyhowell opened #1251 "Add missing content to Obs 7.14 What's New"
Add additional content from updated doc:

https://docs.google.com/document/d/1tqL936-zmcSsgcSuYrFxUUKyNTah9GhRReKfAR7i6NY/edit#heading=h.ns4fapylnwwl

[2021-11-10 12:52] paulb-elastic commented on #987
Just to call out, that as well as the Exploratory View page itself having changed significantly in 7.16, the links to it from Uptime and User Experience have also been changed (in https://github.com/elastic/kibana/issues/116279), so there may be some copy/screenshot changes needed.

[2021-11-11 20:18] EricDavisX commented on #918
cross connecting the 'delay-enroll' option with the 'unenrollment timeout' feature from https://github.com/elastic/observability-docs/issues/901
 - we could ideally hit those both together with short blurbs in 7.16.

[2021-11-11 20:22] EricDavisX commented on #918
and cross-posting the public ticket for testing if it helps - https://github.com/elastic/beats/issues/26312

[2021-11-12 02:29] dedemorton commented on #1112
@mostlyjason Are you OK with using "Elastic Agent integration" as the first instance on a page/section? Otherwise the docs will be super repetitive and harder to read.

[2021-11-12 03:03] dedemorton commented on #1060
Closing because we've done all the tasks in the list. I'm not saying we shouldn't do more work, but let's come up with a new meta issue.

[2021-11-12 03:03] #1060 closed

[2021-11-12 03:07] dedemorton commented on #1084
Closed by https://github.com/elastic/observability-docs/pull/1230

[2021-11-12 03:07] #1084 closed

[2021-11-12 13:40] gbanasiak commented on #593
I think doc update in https://github.com/elastic/observability-docs/pull/1239 lacks description of _where_ to put environment settings such as `HTTP_PROXY`. Based on customer feedback it's not immediately clear that if Elastic Agent runs as a service in Linux they should add the setting in `/etc/sysconfig/elastic-agent` instead of changing the system-wide user profile.

[2021-11-15 10:33] EamonnTP opened #1260 "[RAC] Workflow status replaced by alert status"
## Description

On the alerts page, the "workflow status" will be replaced to show the "alert status" instead.

"Open / Acknowledged / Closed", will become "Show all / Active / Recovered".

## Collaboration
*(Indicate the expected collaboration model by marking the appropriate task and deleting the others.)*
* [x] The docs team will lead producing the content
* [ ] The product team will provide th

[2021-11-15 14:25] hop-dev opened #1261 "[Request] [Fleet] Remove `.` prefix from custom component template docs"
## Description

@axw noticed [here](https://github.com/elastic/apm-server/pull/6553#issuecomment-966608256) that we do not need to add a `.` prefix to the custom component template in the Customize data retention for integrations docs [here](https://www.elastic.co/guide/en/fleet/master/data-streams.html#data-streams-ilm-two)

The component template name should be `<type>-<dataset>-<namespace>@cust

[2021-11-15 14:39] mostlyjason commented on #1112
@dedemorton yeah I think that's fine. Broadening the definition of "integration" is a confusing concept for people internally, and I imagine the different types of integrations can be confusing for users. The point of this is mainly to make the type of integration clear to readers. That doesn't mean we need to be overly verbose where the context is clear.

[2021-11-15 18:14] dedemorton commented on #593
@gbanasiak Can you add your comment to the review of https://github.com/elastic/observability-docs/pull/1239? That way, reviewers can see your comment and discuss it. Thanks!

[2021-11-15 20:58] #991 closed

[2021-11-16 03:40] bmorelli25 commented on #1261
No worries, @hop-dev, I can make this fix. I'll move this to the obs-docs board.

[2021-11-16 11:44] bytebilly commented on #1213
From an Elasticsearch perspective, we haven't implemented the deprecation yet. I suggest that we align to mark the user/role as "deprecated" in both documentation and code at the same time.

[2021-11-16 14:59] paulb-elastic commented on #988
Discussed in docs planning today.  We will track this as we pass FF for 8.0 and approach the release date to determine if the script recorder is going through fewer changes at that point, and worth migrating to *proper* docs as opposed to those in the repo.

[2021-11-16 15:01] paulb-elastic commented on #663
Discussed in docs planning today, and this should ideally wait for https://github.com/elastic/beats/issues/28749 as it will be a better user experience

[2021-11-17 00:26] #996 closed

[2021-11-17 00:30] dedemorton commented on #1112
Fixed in #1259

There might be stray references that we need to fix in other places, but this is at least a start. (I noticed some minor inaccuracies in https://www.elastic.co/guide/en/fleet/master/fleet-overview.html, but will fix those in a follow-on PR).

[2021-11-17 00:30] #1112 closed

[2021-11-17 00:45] dedemorton commented on #239
Looking at the 7.16 docs, there are some pretty glaring inaccuracies on the overview page right now (for example, integrations are no longer part of Fleet): https://www.elastic.co/guide/en/fleet/master/fleet-overview.html

I’m tempted to do a quick PR to fix the inaccuracies and repetition, but I don't want to duplicate effort.

@ollyhowell WDYT? Should I spruce up the existing overview now? I'm n

[2021-11-17 00:57] dedemorton opened #1269 "[Request] Update Fleet and Elastic Agent Overview"
## Description

Fleet and Elastic Agent [overview](https://github.com/elastic/observability-docs/issues/1269) is inaccurate and repetitive:

* Integrations are no longer part of Fleet.
* Fleet is covered in two places. Content should be condensed, made accurate, and presented in one place in the overview.
* Fleet section should also talk about the ability to upgrade the elastic agent binaries (one

[2021-11-17 13:33] ollyhowell commented on #918
As per email chat, removing needs-input

[2021-11-18 11:50] hop-dev commented on #1261
Closing as this documentation is being removed as part of [119013](https://github.com/elastic/kibana/issues/119013)

[2021-11-18 11:50] #1261 closed

[2021-11-19 20:53] dedemorton opened #1275 "[Request] Cover all Fleet prereqs in the Fleet/Agent guide"
## Description

When we moved the quick start to the observability guide, the Fleet/Agent Guide lost some of the prereqs that are documented here:

https://www.elastic.co/guide/en/observability/7.16/ingest-logs-metrics-uptime.html#fleet-prereqs

We need to make sure that all the required configuration settings etc are documented in the Fleet/Agent Guide. It would also be nice to make these prereqs

[2021-11-22 14:22] paulb-elastic commented on #988
As discussed, this has been added to the read.me

[2021-11-22 14:22] #988 closed

[2021-11-22 14:22] paulb-elastic commented on #663
Closing in favour of https://github.com/elastic/beats/issues/28749

[2021-11-22 14:22] #663 closed

[2021-11-22 22:31] #1231 closed

[2021-11-22 22:34] #1223 closed

[2021-11-22 22:34] #1224 closed

[2021-11-22 22:43] bmorelli25 commented on #1213
Thanks! I've removed the timeline from this issue and will wait to update our docs until this is removed from ES.

[2021-11-23 13:55] EricDavisX opened #1283 "[Request] correction needed in docs about ability to modify the Fleet Server policy when on ESS Cloud"
## Description

Per Dede, I'm picking this issue out of a PR discussion, and logging it separately for follow up, here:
https://github.com/elastic/observability-docs/pull/1274#discussion_r753586507

tl;dr; we need to take out the section in:
 docs/en/ingest-management/fleet/fleet-server-monitoring.asciidoc
...that cites the ability:
"To turn on {fleet-server} monitoring in the agent policy:"

## C

[2021-11-23 18:53] #1225 closed

[2021-11-23 19:08] bmorelli25 opened #1285 "[APM] Update hard-coded links to Go Agent"
Documentation for span compression was added in https://github.com/elastic/apm-server/pull/6438. These docs reference settings added to the Go Agent in https://github.com/elastic/apm-agent-go/pull/1134 and https://github.com/elastic/apm-agent-go/pull/1138.

Links in `docs/span-compression.asciidoc` should be updated to use `{apm-go-ref}` when the latest version of the Go Agent releases.

[2021-11-24 02:21] dedemorton commented on #749
I've tried generating an API key and using it in a standalone config, but I cannot get it to work (user and password does work, so I know the config is OK).

I need someone on the development team to tell me exactly what to put under **Restrict privileges** when defining the API key. (It would be good to cover all the privileges that are required to ingest different types of data.)

![image](https

[2021-11-24 03:00] dedemorton commented on #1283
@EricDavisX Thanks for creating this issue. So just to clarify: since you cannot turn these options on, I'm assuming Fleet Server monitoring is not available on Elastic Cloud (and maybe not even needed).

It sounds like this topic is still valid (and needed) for Fleet Server running elsewhere. Is that correct?

I will remove the cloud steps, but should I make it clear in the intro that this topic

[2021-11-24 07:08] ruflin commented on #749
You can copy the permissions from here but skip the endpoint part as endpoint will not run in standalone: https://github.com/elastic/kibana/blob/main/x-pack/plugins/fleet/server/services/package_policies_to_agent_permissions.ts#L14

Ideally we would have a UI in the future to create such API keys.

[2021-11-24 10:49] cyrille-leclerc commented on #1132
@bmorelli25  can we please have the URL of this coming Lambda page so we can link it from announcement communication?
cc @amena-siddiqi

[2021-11-24 11:41] amolnater-qasource commented on #996
Hi @kpollich
We have tested automatic integration upgrade on 7.16.0 BC-5 Kibana cloud environment
- We disabled the automatic package upgrade for System integration.
- Degraded the System integration version to `v0.12.7`.
- Added the integration to Policy.
- Still System integration upgraded to latest version however policies didn't upgrade.

**Question:**
Is this feature only restricted for integ

[2021-11-24 13:53] EricDavisX commented on #1283
@dedemorton hi.  yes, it is valid for self-managed stack deploys.  I'd say the topic is good, but we should not cite it can be done on cloud.  cheers

[2021-11-24 14:38] kpollich commented on #996
Thanks for the questions, @amolnater-qasource . The "Keep policies up to date" checkbox only controls policies, not the actual package update. Since `system` is a "managed" Fleet package, the latest version is always installed automatically. This is true of `fleet_server` and `elastic_agent` integrations as well, and some others. Packages marked with this note fall into this category:

![image](ht

[2021-11-24 16:03] EricDavisX commented on #996
@kpollich  Thanks so much for info. I'll let Amol reply.

I have a separate follow up, where do we need to update to get the language improved for 'Note: The system integration is a system integration and cannot be removed' ?  It is confusing language.  Is it in the package or is that Kibana side?   Do you have ability to help follow up on this further for us?

For suggested language I might sugge

[2021-11-24 16:05] kpollich commented on #996
This messaging does come from Kibana, so we can start a discussion w/ just the Fleet UI team to improve the language here - we won't need to involve the ecosystem team or package spec to improve this.

[2021-11-25 00:53] bmorelli25 opened #1288 "[APM] Add context to input settings docs"
[APM input settings](https://www.elastic.co/guide/en/apm/guide/current/input-apm.html) should better describe how settings are applied and should link to appropriate Fleet/Agent documentation

[2021-11-28 11:12] nimarezainia opened #1290 "[Request] Removing some hyperlinks from Elastic Agent comparabilities page"
## Description

*(Describe what needs to be documented. Link to relevant issues.)*

In this section of the docs: https://www.elastic.co/guide/en/fleet/current/beats-agent-comparison.html#supported-configurations
we have hyperlinks to filebeat where the configuration option has been described in detail. this is confusing some users as it's referring them to filebeat and the configuration is not exa

[2021-11-29 03:39] nimarezainia opened #1291 "[Request] Update 7.16 Release Notes regarding Journalbeat replacement"
## Description

Need the following to be included in the release-notes for 7.16:

*Journalbeat, a lightweight shipper dedicated to collecting logs written by Journald system service, is being deprecated in this release. This functionality is instead provided as an input for Filebeat. Users should migrate to using Filebeat and it’s journald input as described in the [Elastic documentation](https://

[2021-11-29 14:06] kpollich opened #1294 "[Request] Add Fleet Server Integration Policy Upgrades Known Issue"
## Description

Add "known issue" under https://www.elastic.co/guide/en/fleet/current/fleet-troubleshooting.html for errors after upgrading Fleet Server integration policies in Cloud in 7.16.

Root cause issue: https://github.com/elastic/kibana/issues/119523

## Collaboration

- The product team (@kpollich) will provide the initial content and the docs team will edit / review

**Contact Person:**

[2021-11-29 14:06] kpollich commented on #1294
Description WIP

[2021-11-29 14:59] kpollich commented on #1294
_Draft of docs content_

## After upgrading integration policies for Fleet Server, "Elastic Agent on Cloud" agents remain stuck in "Updating" or go "Offline"

In Elastic Cloud, after [updating](https://www.elastic.co/guide/en/fleet/current/integrations.html#update-integration) Fleet Server and its integration policies, your "Elastic Agent on Cloud" agents may experience issues updating. To resolve

[2021-11-29 15:43] nchaulet commented on #1294
@kpollich I think we can add another step between 1 and 2

Clean the existing `.fleet-policies` doc
[code]

[2021-11-29 15:48] kpollich commented on #1294
Good catch - added above.

[2021-11-29 17:57] bmorelli25 opened #1295 "[APM] Improve log correlation docs"
Log correlation docs exist at three levels:

* Kibana Guide -- [Trace sample logs](https://www.elastic.co/guide/en/kibana/7.15/transactions.html#transaction-trace-sample)
* APM Overview -- [Observability integrations](https://www.elastic.co/guide/en/apm/get-started/current/observability-integrations.html#apm-logging-integration)
* APM agent -- [.NET](https://www.elastic.co/guide/en/apm/agent/dotne

[2021-11-30 01:25] #1283 closed

[2021-11-30 04:00] bmorelli25 commented on #1132
@cyrille-leclerc / @amena-siddiqi --> Lambda docs will live here: https://www.elastic.co/elastic.co/guide/en/apm/guide/current/aws-lambda-extension.html

[2021-11-30 09:42] amolnater-qasource commented on #996
Hi @kpollich
Thanks for sharing detailed feedback.
We are now clear with the working of this feature and we have created 02 testcases for this feature under our ingest manager test suite at links:
- [Validate when Automatic Package upgrade is disabled for System integration, it doesn't upgrade lower version system integration to latest under any policy automatically.](https://elastic.testrail.io/i

[2021-11-30 11:30] dikshachauhan-qasource opened #1298 "Old terms for referring Agent state is used in Elastic docs under Fleet overview guide page."
Link : https://www.elastic.co/guide/en/fleet/7.16/fleet-overview.html

Under the marked area on above mentioned guide page Agent state with current reference needs to be updated.

Screenshot:
![image](https://user-images.githubusercontent.com/72375798/144039595-bccabee5-f604-4d2e-915a-92f45ed8a091.png)

[2021-11-30 11:32] manishgupta-qasource commented on #1298
Reviewed & assigned to @dedemorton

CC: @EricDavisX

[2021-11-30 16:41] amena-siddiqi commented on #1132
Thanks Brandon and Cyrille!

On Mon, Nov 29, 2021 at 11:01 PM Brandon Morelli ***@***.***>
wrote:

--

Amena Siddiqi

Product Marketing, Observability

+1 415.518.9834

Elastic – Search. Observe. Protect.  <https://www.elastic.co/>

[2021-11-30 18:41] dedemorton commented on #996
Regarding the note about the System integration....  In the [upgrade docs](https://www.elastic.co/guide/en/fleet/7.16/upgrade-integration.html), I say, "Some integration packages, like System, are installed by default during Fleet setup."

So I think you could change the note to say something like:

Note: The system integration is installed by default and cannot be removed.

[2021-11-30 18:44] dedemorton commented on #1173
Closed in https://github.com/elastic/beats/pull/29137.

[2021-11-30 18:44] #1173 closed

[2021-12-01 01:12] dedemorton opened #1305 "Remove placeholder page from the integrations dev guide"
## Description

After merging https://github.com/elastic/observability-docs/pull/1287, we need to:

- [x] Update all links that point to https://www.elastic.co/guide/en/integrations-developer/current/air-gapped.html and backport to all relevant branches.
- [x] Remove the placeholder file `docs/en/integrations/air-gapped.asciidoc`.
- [ ] Ask the website team to set up redirects for all impacted ver

[2021-12-02 13:39] jlind23 opened #1307 "Update Beats docs to include ES CA fingerprint"
With security on by default she should mention the new fingerprint option for ssl verification mode. We should also tell users where to find this information when they start ES for the first time (the ES logs) or later (using their browser, curl or the openssl command).

[2021-12-02 13:41] jlind23 opened #1308 "Update Elastic Agent and Fleet docs to include ES CA fingerprints"
For Standalone agent and managed agent.

**Owner**
@michel-laterman

[2021-12-02 17:09] #793 closed

[2021-12-02 23:10] dedemorton commented on #749
Adding a reminder here to also update the privileges shown in https://www.elastic.co/guide/en/fleet/7.16/install-standalone-elastic-agent.html.

[2021-12-03 07:13] amolnater-qasource opened #1309 "[Request]: Minor changes related to Filebeat installation on 8.0."
**Related Ticket:**
https://github.com/elastic/beats/issues/29175

**Description:**
As per few changes related to filebeat on 8.0, we have gone through the docs for the same at link https://www.elastic.co/guide/en/beats/filebeat/8.0/filebeat-installation-configuration.html.
While testing we observed some changes like:
**Scenario 01:**
- User has to manually enable filesets for modules from 8.0 onw

[2021-12-03 07:27] manishgupta-qasource commented on #1309
Reviewed & mention to: @elastic/elastic-agent-control-plane

cc: @EricDavisX

[2021-12-03 09:58] jlind23 commented on #1309
@kvch would you give a stab at it? As far as i remember your worked on it right?

[2021-12-03 10:20] mgiota opened #1310 "[Observability RAC] document xpack.ruleRegistry.write.disabledRegistrationContexts flag"
## Description

In this [issue](https://github.com/elastic/kibana/issues/119217) we introduced a new `xpack.ruleRegistry.write.disabledRegistrationContexts` flag, which user can use to disable writing to alerts-as-data indices in a more granular way.

## Collaboration

- The docs team will define with product team the structure and location, and the product team will provide the initial content

`

[2021-12-03 17:06] woodywalton opened #1312 "[Request] Add details about ports to publish for air-gapped EPR"
## Description

Customers deploying [air-gapped EPR](https://www.elastic.co/guide/en/integrations-developer/current/air-gapped.html#air-gapped-diy-epr) also need to know what ports to publish from their docker container

## Collaboration
- The product team will provide the initial content and the docs team will edit / review

## Stakeholders

Everyone looking to use air-gapped EPR for Fleet

[2021-12-03 18:10] mostlyjason opened #1313 "Upgrade instructions for DEB/RPM"
Add instructions on how to perform an agent binary upgrade for agents installing using RPM/DEB.

Pages to update:
- https://www.elastic.co/guide/en/fleet/7.16/upgrade-elastic-agent.html
- https://www.elastic.co/guide/en/fleet/7.16/upgrade-standalone.html

[2021-12-06 09:27] simitt commented on #1023
06/12/2021 Update:
* added some details related to cloud specific documentation
* removed deprecating work, as the APM Server standalone binary is not going to be deprecated yet

[2021-12-06 14:31] mostlyjason opened #1314 "Update Fleet Settings for 8.0"
## Description

In 8.0 we updated Fleet Settings by moving it to a separate tab in the Fleet UI. We also enhanced the output management controls. Users click the Edit action to configure an output now. Also, on Elastic Cloud, we added a new internal output used for routing. We should document the purpose of this new output, which is internal routing to reduce external network charges with the Elas

[2021-12-06 17:04] DanRoscigno opened #1315 "[Request] Link to the GCP Dataflow integration docs from the Integrations page in Kibana and on elastic.co"
## Description

*(Describe what needs to be documented. Link to relevant issues.)*
Hi Folks, I think the GCP Dataflow entry in the integrations page on elastic.co, and within Kibana would be better if it pointed to the [GCP Dataflow docs
](https://www.elastic.co/guide/en/observability/7.15/gcp-dataflow.html) instead of listing the fields populated by the integration, as the list of fields does not

[2021-12-06 18:35] dedemorton commented on #1291
@nimarezainia @kvch I just noticed that the Journald input *and* the Custom Journald logs integration are both still marked as experimental. Is that a mistake, or are we really recommending that users migrate to something that is experimental?

[2021-12-06 18:42] kvch commented on #1291
Both of them are still experimental. The input is stable, the only reason we kept it experimental is that I am introducing breaking changes to the configuration in https://github.com/elastic/beats/pull/29294

[2021-12-06 19:05] dedemorton opened #1318 "[Request] Create release notes for elastic agent/fleet in 7.16"
## Description

Since https://github.com/elastic/observability-docs/issues/703 hasn't been resolved yet, I guess we will need to build the release notes by hand again for 7.16.

## Collaboration
- The docs team will lead producing the content with input from the dev team

## Suggested Target Release

7.16

[2021-12-07 04:17] bmorelli25 commented on #1229
This has been fixed in various PRs.

[2021-12-07 04:17] #1229 closed

[2021-12-07 09:49] EamonnTP opened #1323 "Update content to match training videos"
Training videos will be updated to reflect the use of Elastic Agent and Integrations. The content on the following pages will require an update to match the videos:

- [Logs](https://www.elastic.co/guide/en/observability/current/monitor-logs.html)
- [Metrics](https://www.elastic.co/guide/en/observability/current/analyze-metrics.html)

[2021-12-07 11:52] EamonnTP opened #1324 "Update images for the CI/CD docs"
The images on the CI/CD docs need updating to improve the background, layout, and resolution.

Related PR: https://github.com/elastic/observability-docs/pull/1266

[2021-12-07 13:25] kpollich commented on #1294
@elastic/obs-docs could we get a set of eyes on this from the docs team? Would love to land this known issue soon as we've seen quite a few support cases experiencing this issue in the last few weeks.

[2021-12-07 17:13] #1030 closed

[2021-12-07 18:15] dedemorton commented on #1294
Yes, we can bump the priority here.

[2021-12-07 18:30] #593 closed

[2021-12-07 19:31] bmorelli25 commented on #1323
Vids have been updated!

[2021-12-07 22:20] dedemorton commented on #1318
Closed by https://github.com/elastic/observability-docs/pull/1319

[2021-12-07 22:20] #1318 closed

[2021-12-08 05:40] dedemorton commented on #749
@ruflin I couldn't get the API key that I created to work. :-/

When I try to use the API key instead of a username/password, I get this error:

[code]

I _was_ able to create a role with the following privileges, assign it to a user, and specify username/password in agent.yml (data started flowing into ES):

[code]

Either something isn't working, or (more likely) I'm doing something wrong in my

[2021-12-08 05:48] #1291 closed

[2021-12-08 11:00] cyrille-leclerc opened #1335 "[Request] Documentation on using APM metrics and traces in dashboards is not easy to find"
## Description

 Documentation on using APM metrics and traces in dashboards is not easy to find

See
- https://github.com/elastic/apm-server/pull/4345#issuecomment-984710928
- Documentation available but not found by Google https://github.com/elastic/kibana/blob/main/x-pack/plugins/apm/dev_docs/apm_queries.md

## Collaboration
*(Choose the expected collaboration model and delete the others.)*

-

[2021-12-08 18:51] dedemorton commented on #749
@ruflin Nevermind. I was using the wrong encoding. Ugggg. I'll work with Gail to make sure the intro text in the UI explains this clearly.

[2021-12-09 01:45] bmorelli25 opened #1339 "[APM] Clarify that "agent" means "APM agent" in Kibana docs"
We should make sure that our documentation clearly explains whether something applies to Elastic Agent or APM agents. One example is the [Agent configuration API](https://www.elastic.co/guide/en/kibana/current/agent-config-api.html).

[2021-12-09 16:40] spong opened #1343 "[Request] Add note to 7.16 release notes clarifying that all integration names must be unique before an integration can be successfully updated"
## Description

As of https://github.com/elastic/kibana/pull/115212 integration names must now be globally unique, which means that if users are coming from a previous version and have integrations with duplicate names, they'll receive an error when attempting to update their integration saying `There is already a package with the same name` and no further guidance as to resolving the issue.

This

[2021-12-13 14:50] ravikesarwani opened #1348 "Remove Google references from Functionbeat documentation"
## Remove all the references of Google GCP from the Functionbeat documentation. AWS functionality remains as is.

Quick cursory look showed references to GCP in the following pages (but we should do a quick search):

- [x] https://www.elastic.co/guide/en/beats/functionbeat/current/functionbeat-overview.html
- [x] https://www.elastic.co/guide/en/beats/functionbeat/current/functionbeat-installation-

[2021-12-13 15:35] ravikesarwani opened #1350 "Add documentation in the observability guide for cloud native data ingestion, starting with GCP Dataflow templates"
## Document Google Dataflow integration for Pub/Sub and Google Cloud Storage in the observability guide

We have already delivered and in development of various features where we are ingesting observability data via cloud native integrations. We need to document these integrations in the observability guide as that’s one area where many customers will look to understand ways of data ingestion. In

[2021-12-13 23:26] dedemorton commented on #1313
@mostlyjason Can you provide more detail about the steps required here? Also, who is the developer contact/SME who will review content changes for this issue?

[2021-12-13 23:33] dedemorton commented on #1308
@jlind23 Can you provide more detail about the content changes/additions that are required here? Also what is the name of the SME who will provide input and review our doc changes?

[2021-12-13 23:39] dedemorton commented on #1307
Who will lead creating this content? The dev team or docs team?

If docs team, we'll need more guidance about this feature, how it impacts the documentation, and the name of the SME who will provide input and review the docs PR.

[2021-12-13 23:44] dedemorton commented on #1308
Sorry just noticed that Michel is assigned this issue, but it's not clear who you expect to lead the documentation effort. The template for creating issues makes this clear, so it would be good to stick with that template so we get all the pieces we need to triage these issues. Thanks!

[2021-12-13 23:48] dedemorton commented on #875
@mostlyjason Can you provide more details about how users use this feature with integrations? Also who is the dev contact/SME who will review the content we develop?

[2021-12-14 00:23] dedemorton commented on #1298
Fixed in https://github.com/elastic/observability-docs/pull/1345/commits/de03f5f9bbafdf7c69c4f3b21ccdbfc162e23ba1

[2021-12-14 01:40] #1269 closed

[2021-12-14 06:45] amolnater-qasource opened #1366 "[Filebeat]: `enable system` available in docs for windows, it doesn't support filebeat system module."
**Elastic guide:** https://www.elastic.co/guide/en/beats/filebeat/7.16/filebeat-installation-configuration.html
**Description:**
Modules enable command for filebeat installation on windows available in docs is: `.\filebeat.exe modules enable system nginx mysql`
However when we enable system module on Windows OS we are unable to start Filebeat Service.
**On 7.16.1 and below:**
![8](https://user-ima

[2021-12-14 09:35] dikshachauhan-qasource commented on #1298
Hi @dedemorton

We have validated the merged changes at 7.16 Elastic guide and abel able to fetch the updated changes.

**Screenshot:**
![image](https://user-images.githubusercontent.com/72375798/145971740-de72af92-d125-4445-95d4-a1e15b973790.png)

Hence, we are closing this out.

Thanks'
QAS

[2021-12-14 09:35] #1298 closed

[2021-12-14 11:25] manishgupta-qasource commented on #1366
Reviewed & mention @simitt

CC: @EricDavisX

[2021-12-14 12:42] EricDavisX commented on #1366
@dedemorton looks like a small fix, I'm not sure what the corrected text is - we can ask @elastic/elastic-agent-data-plane team to give us info

[2021-12-14 14:36] jlind23 commented on #1366
Maybe @kvch or @belimawr here?

[2021-12-15 00:37] dedemorton commented on #1308
Removing the needs-input label because Michel has opened a PR with details.

[2021-12-15 08:58] paulb-elastic opened #1378 "TLS cert page screenshot incorrectly shows as being deprecated"
## Description

The Uptime docs page for setting up TLS alerts (https://www.elastic.co/guide/en/observability/master/tls-certificate-alert.html) includes a screenshot that incorrectly states it’s a deprecated feature.

![image](https://user-images.githubusercontent.com/70908889/146154813-2893c87e-be0d-4c87-8d96-be7dce9cfc2b.png)

Please update this with a more recent screenshot that doesn’t includ

[2021-12-15 09:02] jlind23 opened #1379 "[Request]Elastic Agent command page does not include any mention of "status" command"
## Description

Elastic Agent provide a status command to check is the subprocesses running are healthy or not.
This command is not mentioned in our documentation: https://www.elastic.co/guide/en/fleet/current/elastic-agent-cmd-options.html

## Collaboration
*(Choose the expected collaboration model and delete the others.)*

- The product team will provide the initial content and the docs team wil

[2021-12-15 09:58] jlind23 commented on #1308
@dedemorton sorry for not sticking to that template. Indeed @michel-laterman will take care of it and we expect your to review if that's ok on your end.

[2021-12-15 15:17] paulb-elastic commented on #987
@EamonnTP just catching up on this, has there been any updates on this for Exploratory View?  Thanks.

[2021-12-15 15:19] paulb-elastic commented on #1190
@EamonnTP just catching up on this, with the merges done, can this be closed, is there anything outstanding?  Thanks.

[2021-12-15 15:24] EamonnTP commented on #1190
Hi @paulb-elastic Yes, this can now be closed. I'll close it now. Related PR: https://github.com/elastic/observability-docs/pull/1211

[2021-12-15 15:24] #1190 closed

[2021-12-15 15:37] EamonnTP commented on #987
Hi @paulb-elastic I'm playing catchup at the moment, having been off for a while. I plan to get to this asap.

[2021-12-15 15:59] jlind23 commented on #1307
Dev team, @belimawr will take care of it.

[2021-12-15 17:05] paulb-elastic commented on #987
Thanks @EamonnTP, no problem.

[2021-12-15 17:42] dedemorton commented on #746
Closed as duplicate of https://github.com/elastic/observability-docs/issues/605

[2021-12-15 17:42] #746 closed

[2021-12-15 18:51] mostlyjason opened #1384 "Update Logstash docs for data streams privileges"
## Description

*(Describe what needs to be documented. Link to relevant issues.)*
Our existing Logstash security docs https://www.elastic.co/guide/en/logstash/current/ls-security.html do not describe how to set the privileges correctly to support the Elasticsearch output with data streams enabled. You can see the privileges required for standalone agent here https://github.com/elastic/observabili

[2021-12-15 21:50] mostlyjason commented on #1313
We discussed in our meeting that Dede could test this out. I don't think the ugprade command works for fleet-managed agents, only standalone. Fleet-managed agents I think would need to be unenrolled, upgaded, the enrolled. @nimarezainia correct me if Im wrong.

[2021-12-15 21:51] mostlyjason commented on #875
Updated the description with a contact person and mentioned the google doc that has more context

[2021-12-15 21:59] bmorelli25 opened #1385 "Fix broken documentation links in 7.17/8.0 bump"
### Summary

* Fix broken 7.17 and 8.0 APM links before the release.
* Pin older, no longer built versions of APM agents to the 7.15 version. Example: https://github.com/elastic/apm-agent-nodejs/pull/2501/files

### Quick link-fixing table

| **Old Asciidoc link** | **New Asciidoc link** | **Docs link** |
|---|---|---|
| `{apm-overview-ref-v}/agent-server-compatibility.html` | `{apm-guide-ref}/age

[2021-12-16 00:15] dedemorton commented on #1384
@mostlyjason If you're requesting changes to the Logstash docs, I should transfer this issue to the logstash repo. I can keep a card in our project board for tracking purposes, but it seems like @karenzone should own these changes. Do you agree, Karen?

[2021-12-16 00:31] #749 closed

[2021-12-16 01:00] bmorelli25 opened #1389 "Update project readme"
The directories and backporting sections are out of date.

[2021-12-16 18:52] bmorelli25 opened #1393 "[ECS-logging-*] Ensure attributes are used for linking"
We should double-check the `elastic/ecs-logging-*` repos to ensure attributes are being used for links. An example of why this is necessary can be seen in https://github.com/elastic/ecs-logging-nodejs/pull/111.

- [x] ecs-logging-ruby (n/a)
- [x] ecs-logging-python (n/a)
- [x] ecs-logging-php (n/a)
- [ ] ecs-logging-nodejs (https://github.com/elastic/ecs-logging-nodejs/compare/main...colleenmcginn

[2021-12-16 20:06] mostlyjason commented on #1384
Sure I wasn't sure where to file it, but feel free to transfer it.

[2021-12-16 21:30] karenzone commented on #1384
Absolutely agree.  Thanks for the ping and heads up on this, DeDe.

[2021-12-16 22:11] #1305 closed

[2021-12-16 22:13] dedemorton commented on #1305
no backport is required because this book is only available in main.

[2021-12-17 14:19] AndersonQ opened #1401 "[Request] Links on "Fleet and Elastic Agent overview" page with wrong syntax"
## Description

Some links on "Fleet and Elastic Agent overview" aren't using the correct syntax, instead of [link](http://exzampler.comn) a few are in the form _[link] ([http://example.com](http://example.com))_.

## Collaboration
*(Choose the expected collaboration model and delete the others.)*

- Other (the docs team needs to approve the change)

**Contact Person:** @AndersonQ

## Suggested Ta

[2021-12-17 18:48] dedemorton commented on #1401
Closed by #1402

[2021-12-17 18:48] #1401 closed

[2021-12-21 01:33] dedemorton commented on #1185
I think we've made the terminology and related content changes that are required to the Fleet and Elastic Agent docs, but we might want to mention the unified view in the quick start to help users avoid confusion when they're getting started. So I'll keep this open and move it to the to-do col.

[2021-12-21 11:30] paulb-elastic opened #1411 "Update Synthetics Integration with new UI options"
## Description

The Synthetics Integration UI has two additional options added that provide extra functionality.  This will require updated screenshots in the existing documentation, as well as a little description about each option:
* Throttling options (from [kibana#114155](https://github.com/elastic/kibana/issues/114155))
  * We already document throttling in the [Heartbeat docs](https://www.el

[2021-12-21 12:17] paulb-elastic opened #1412 "Add docs for Playwright Options (for the Synthetics Agent)"
## Description

The [current docs](https://www.elastic.co/guide/en/observability/current/synthetics-command-reference.html) detail command line parameters available with the Synthetics Agent.  With the addition of https://github.com/elastic/synthetics/issues/388 we have added a new `--playwrightOptions` flag, which should also be documented.

## Collaboration

- The product team will provide the i

[2021-12-21 12:22] paulb-elastic opened #1413 "Update Uptime screenshots with new step duration per step"
## Description

We have updated the Uptime UI to include the step duration for each step of a browser based monitor (implemented in https://github.com/elastic/uptime/issues/392).

Existing screenshots in the docs should be updated to reflect the additional column of data being shown.

## Collaboration

- The docs team will lead producing the content

**Contact Person:** @shahzad31

## Suggested Ta

[2021-12-21 17:06] vinaychandrasekhar opened #1414 "o11y - Replace alert workflow status filter with alert status filter"
## Description

Starting 8.0, the alert workflow status filter (open / acknowledge / close) is replaced with the alert status filter (active / resolved). Documentation needs to be updated accordingly.

The alert workflow status is a manual status management scheme requiring users to update and manage the status of each alert. In parallel, each Observability alert also has an active / resolved stat

[2021-12-21 17:09] vinaychandrasekhar commented on #1414
Related to https://github.com/elastic/kibana/issues/117686

[2021-12-21 17:15] vinaychandrasekhar opened #1415 "Access the rule details / definition page from the alerts view"
## Description

When looking at an alert, users are now able to pivot to the rule that generated the alert. There are two places we provide a path for users to do so - from the alert flyout and from the Alerts view table. Both of these places point users to the corresponding rule page.

https://github.com/elastic/kibana/issues/117696

## Collaboration
- The product team will provide the initial co

[2021-12-21 17:18] vinaychandrasekhar opened #1416 "Update documentation that shows how to disable alerts as data"
## Description

8.0 has a new and different flag to enable / disable the alerts as data feature. Current (7.16) documentation needs to be updated to reflect this change.

https://github.com/elastic/kibana/issues/119217

## Collaboration
- The product team will provide the initial content and the docs team will edit / review

**Contact Person:**
@mgiota

## Suggested Target Release
v8.0

## Stakeho

[2021-12-21 17:29] vinaychandrasekhar opened #1417 "o11y - Update documentation to reflect changes to the Alerts view"
## Description

Alerts page now shows counts of enabled, disabled rules. And user modifications to the alerts table in the Alerts view will be persisted when navigating away and back. Both of these need a mention accordingly in the documentation.

https://github.com/elastic/kibana/issues/116476

https://github.com/elastic/kibana/issues/117698

## Collaboration
- The product team will provide the i

[2021-12-21 21:32] #1389 closed

[2021-12-21 21:42] #918 closed

[2021-12-21 23:02] dedemorton commented on #1366
Seems like the easiest approach here is to use a different example (just take system out of the example). This is an easy change, so I will just make it now. thanks!

[2021-12-21 23:09] dedemorton commented on #1366
Note that I am also transferring this issue to the beats repo where we track beats-related doc issues

[2021-12-22 01:38] bmorelli25 commented on #1175
This might be over my head. I spent a few hours today playing around with this, but I get the following error when using `node-fetch`:

[code]

Looked into 'boundary' and tried using [`form-data` ](https://github.com/form-data/form-data) to get around it, but I can't figure out how to add the multiple Kibana API-required custom headers:

[code]

[2021-12-22 19:50] bmorelli25 commented on #388
Already completed in 7.16.

[2021-12-22 19:50] #388 closed

[2021-12-22 19:55] bmorelli25 commented on #975
Migration docs were added for 7.16 in https://github.com/elastic/apm-server/pull/6709.

I'm going to keep this issue around and retarget it to 8.0 as updates will be necessary.

[2021-12-29 10:04] amolnater-qasource opened #1424 "[Docs]: Commands not updated with "--fleet-server-insecure-http" flag for self-managed 7.16.2."
**Description:**
Commands not updated with "--fleet-server-insecure-http" flag for self-managed 7.16.2.
**Guide Link:** https://www.elastic.co/guide/en/observability/7.16/ingest-logs-metrics-uptime.html

**Current Screenshots:**
![9](https://user-images.githubusercontent.com/77374876/147650422-f8ca612f-72b0-443c-8260-6a930f61a9f7.JPG)
![8](https://user-images.githubusercontent.com/77374876/1476504

[2021-12-29 10:04] amolnater-qasource commented on #1424
@manishgupta-qasource Please review.

[2021-12-29 10:06] manishgupta-qasource commented on #1424
Reviewed & mention to @mostlyjason

[2022-01-04 15:46] mostlyjason commented on #1424
@joshdover does it make sense to add this for the quick start deployment mode? I think I remember some objection to adding this for security reasons, but I can't think of what they are. I believe the user cannot proceed without adding this flag.

[2022-01-04 15:50] mostlyjason commented on #1424
It looks like this may be related to this issue https://github.com/elastic/kibana/issues/119606

[2022-01-04 15:51] mostlyjason commented on #1424
Adding @jen-huang  to track this bug

[2022-01-04 17:12] #1307 closed

[2022-01-04 21:17] #901 closed

[2022-01-04 23:14] bmorelli25 commented on #1073
Nearly all tasks for this issue have been completed. Of the four remaining issues, three have fallen to 8.0, and one has an unknown completion date. A summary is below. I'm going to (finally) close this as we have new tracking issues for 8.0.

Moved to 8.0:
- https://github.com/elastic/observability-docs/issues/1226
- https://github.com/elastic/observability-docs/issues/1227
- https://github.com/e

[2022-01-04 23:14] #1073 closed

[2022-01-05 13:06] #1251 closed

[2022-01-05 13:06] #1249 closed

[2022-01-05 13:06] #1107 closed

[2022-01-05 18:11] #1285 closed

[2022-01-06 01:01] dedemorton opened #1431 "[Request] Update Add agent screenshot in Fleet/Elastic Agent docs"
## Description

The order of steps shown in the Add agent instructions changed at some point during 7.16. The screen capture and (possibly) steps [in the docs](https://www.elastic.co/guide/en/observability/7.16/ingest-logs-metrics-uptime.html#add-agent-to-fleet) need to be updated to reflect this change.

![image](https://user-images.githubusercontent.com/14206422/148311084-be6fcc41-3174-436e-8bfd

[2022-01-06 02:09] bmorelli25 opened #1432 "Integration doc updates"
Update tomorrow:

- [ ] [Osquery](https://docs.elastic.co/en/integrations/osquery_manager) should be GA
- [ ] GitHub integration should be published

[2022-01-06 15:42] melissaburpo commented on #1432
Thanks for opening this issue @bmorelli25. I believe both Osquery integrations need to be updated, based on their manifest files + release version in 7.16:
* Osquery Manager ( [doc](https://docs.elastic.co/en/integrations/osquery_manager) | [manifest - `release: ga`](https://github.com/elastic/integrations/blob/master/packages/osquery_manager/manifest.yml) )
* Osquery Log Collection ( [doc](https:

[2022-01-06 19:58] #1132 closed

[2022-01-06 20:48] #1294 closed

[2022-01-06 20:51] bmorelli25 commented on #1023
@simitt A few 8.0 Cloud questions for you:

* Mode:
  * if stack version ≥8.0 --> Managed by Fleet mode
  * if stack version <8.0 --> Standalone in Cloud mode (can upgrade and remain in this mode)
* "APM & Fleet" user settings in Cloud. Are the following assumptions correct?
  * Managed by Fleet mode --> This will exist but doesn't do anything.
  * Standalone APM in Cloud mode --> This will exist

[2022-01-10 13:31] simitt commented on #1023
yes!

Afaik user settings should be hidden as soon as in managed mode (already in 7.x); @sarahetter can you confirm this?

yes!

If users do upgrade without switching to managed mode, all settings that have previously be supported on cloud are still supported via the user overrides.

I'd say we have following scenarios:
* A user running an APM Server in managed mode: Will want the APM integration

[2022-01-10 22:19] dedemorton commented on #1174
Closing this request because the Journalbeat Reference was moved to the "Legacy" section of the docs for 7.16: https://www.elastic.co/guide/index.html

![image](https://user-images.githubusercontent.com/14206422/148847845-eb0bbf20-dabd-48d3-b13f-a8ccaff88d6c.png)

We've also added a header to the 7.16 docs that says:

![image](https://user-images.githubusercontent.com/14206422/148847979-70ee3f26-3

[2022-01-10 22:19] #1174 closed

[2022-01-11 00:39] nimarezainia opened #1444 "Provide more clarity around custom beat generator deprecation"
## Provide more clarity around custom beat generator deprecation

From 8.0 the code that is used to generator custom beats will no longer be available for use. We have modified the docs already (https://www.elastic.co/guide/en/beats/devguide/8.0/community-beats.html) however more needs to be done to articulate what a users' options are in this regard.

I suggest the following to be added to https:

[2022-01-11 11:19] jamiehynds opened #1448 "Integration Doc Updates"
The Security team have recently published new integrations, which we need corresponding docs for.

- Akamai - https://github.com/elastic/integrations/tree/master/packages/akamai
- Atlassian Bitbucket - https://github.com/elastic/integrations/tree/master/packages/atlassian_bitbucket
- Atlassian Confluence - https://github.com/elastic/integrations/tree/master/packages/atlassian_confluence
- Atlassia

[2022-01-11 18:14] #1432 closed

[2022-01-11 19:10] bmorelli25 commented on #1448
Thanks for the list, Jamie! I do see three of these already published, but it looks the rest aren't. I'll try to get them added quickly.

Cisco (all of them): https://docs.elastic.co/en/integrations/cisco
Network Packet Capture: https://docs.elastic.co/en/integrations/network_traffic
Symantec Endpoint: https://docs.elastic.co/en/integrations/symantec

[2022-01-11 22:58] bmorelli25 commented on #1023
Thanks, Silvia!

By "user settings", we're both talking about this, right?
<img width="798" alt="Screen Shot 2022-01-11 at 2 57 06 PM" src="https://user-images.githubusercontent.com/5618806/149034618-0cc38e51-422d-44c9-8eaf-a2b5cd4bea13.png">

I still see it when running managed mode in 7.16.2. And I'm pretty sure it was there when I was testing on 8.0.0-rc1 last week.

[2022-01-12 01:05] dedemorton opened #1449 "[Request] Add missing Elastic Agent/Fleet release notes for 7.16.1 and 7.16.2"
## Description

Release notes for 7.16.1 and 7.16.2 are not available in the Fleet and Elastic Agent docs.

## Collaboration
*(Choose the expected collaboration model and delete the others.)*

- The docs team will lead producing the content

**Contact Person:**

## Suggested Target Release

7.16

## Stakeholders

n/a

[2022-01-12 01:09] dedemorton commented on #703
@andresrc Are there any updates on the release notes process? I'd like to stop doing this manually or get the development team to own the updates because it keeps slipping through the cracks for patch releases.

[2022-01-12 09:40] jamiehynds commented on #1448
Thanks @bmorelli25 - I've removed Cisco and Network Packet Capture.

@andrewkroh can you confirm if the current Symantec docs are based on the RSA integration or your new integration? https://docs.elastic.co/en/integrations/symantec

[2022-01-12 16:01] andrewkroh commented on #1448
https://docs.elastic.co/en/integrations/symantec is for the deprecated RSA2ELK integration. The new integration name is `symantec_endpoint`.

It's promoted to production and you can see what it looks like in Kibana here: https://github.com/elastic/package-storage/pull/3257

[2022-01-12 17:28] dedemorton commented on #745
Note to writer: see related google doc created by Nima

[2022-01-12 17:28] mostlyjason commented on #875
This issue is blocked because we reverted our docs here https://github.com/elastic/kibana/issues/119013
Next steps:
- Move mappings to component templates (few days of work) https://github.com/elastic/kibana/issues/121184 - scheduled for 8.1
- Add ability to migrate Fleet packages during Stack upgrades https://github.com/elastic/kibana/issues/121099

[2022-01-12 20:12] dedemorton opened #1453 "[Integrations] Update or remove the list of GA-level integrations in the Fleet/Agent guide"
## Description

This topic has not been updated since 7.14: https://www.elastic.co/guide/en/fleet/current/beats-agent-comparison.html

We really need to remove the list of GA-level integrations from this topic because integrations are released and promoted to GA on their own schedule. The docs will get stale quickly. We should point to https://docs.elastic.co/en/integrations as the source of truth

[2022-01-12 20:16] bmorelli25 commented on #1453
👍 Makes sense to me.

[2022-01-12 20:44] bmorelli25 commented on #1448
PR opened. I'll follow-up when the changes are live.

[2022-01-12 21:51] #1448 closed

[2022-01-12 22:44] bmorelli25 commented on #1448
Docs are live! https://docs.elastic.co/en/integrations

[2022-01-13 09:45] jamiehynds commented on #1448
Looks great - thanks as always, @bmorelli25!

[2022-01-13 17:17] bmorelli25 commented on #1131
Done.

[2022-01-13 17:17] #1131 closed

[2022-01-13 22:42] #1191 closed

[2022-01-14 19:17] EricDavisX commented on #954
@dikshachauhan-qasource can you re-verify this in the Agent documentation please?  And if so, it would be helpful to post further data, my description here is terrible. :0  if you need help understanding do let me know.  cheers.

@dedemorton I'm unassigning myself either way, it may be a small fix if still relevant.

[2022-01-14 21:25] dedemorton commented on #954
I'll get this added to our project board. I thought we had some automation set up to do that, but it appears that it's not working.

[2022-01-15 00:58] #1449 closed

[2022-01-15 02:41] dedemorton commented on #1314
### Doc impact

I went through the Elastic Agent/Fleet docs + the quick start today and identified topics that need to be updated. Some have substantive changes that need to be addressed for 8.0. The other topics have stale screens, but shouldn't cause too much pain for users, so we can do them after 8.0, if necessary. A subset of those screens probably need to be updated for other reasons, so it

[2022-01-17 09:11] simitt commented on #1023
Yes, that's the settings.
The user settings are shown if users actively migrated to managed mode, vs. they will be hidden for new deployments >= 8.0. IMO that's a bug and the user settings should always be hidden when running in migrated mode, but didn't get any confirmation on this being planned to be changed. Will follow up here once I know more.

[2022-01-17 09:12] simitt commented on #1023
@bmorelli25 I just realized that we do not have a specific tracking issue for describing the upgrade flow from `7.17` to`8.x` for on-prem and cloud. Is this covered already (implicitly) by any of the tasks you are working on or should I create a dedicated task and provide a specific description?

[2022-01-17 11:58] amolnater-qasource commented on #1308
Hi @michel-laterman
While validating docs for 8.0 we haven't observed any documentation for `Fingerprints` changes with respect to standalone agents or installation of fleet server on a self-managed environment.
Tested area:
- https://www.elastic.co/guide/en/fleet/8.0/install-standalone-elastic-agent.html
- https://www.elastic.co/guide/en/fleet/8.0/add-a-fleet-server.html

As far as we have checke

[2022-01-17 11:58] amolnater-qasource commented on #1314
Hi Team
While testing docs for 8.0, we have observed these changes to Fleet Settings not yet available.

We will be retesting the same when available.
Thanks

[2022-01-17 11:58] amolnater-qasource commented on #954
Hi @EricDavisX
We have revalidated this with installed agent logs and observed:
the log files for filebeat/metricbeat/fleet-server show like:
2021-07-29-18-1
**Screenshot:**
![8](https://user-images.githubusercontent.com/77374876/149759353-043bc294-278f-46f7-a3d9-ddacfb9db019.JPG)

The agents log has a different format and it looks like:
20210729181154
**Screenshot:**
![9](https://user-images.gith

[2022-01-17 17:19] michel-laterman commented on #1308
Oops, looks like I forgot to add it under the stand alone guide

[2022-01-18 04:26] bmorelli25 commented on #1023
I've had upgrading in the back of my mind, but a specific issue for `7.17 -> 8.x` linked to this 8.0 meta issue would be helpful.

For the 7.17 upgrading docs, I was thinking we could mostly (if not completely) reuse the [upgrading docs](https://www.elastic.co/guide/en/apm/guide/current/upgrade.html) put together for 7.16.

[2022-01-18 07:59] amolnater-qasource commented on #1314
Hi @dedemorton
We have observed at page:
https://www.elastic.co/guide/en/fleet/8.0/manage-agents-in-fleet.html
- Component- Settings also needs to be added as Fleet Settings are available as a tab now.

We will be updating this comment if we found any other requirement not mentioned above.
Thanks

[2022-01-18 11:41] amolnater-qasource commented on #1308
Hi @michel-laterman
Thanks for confirming.
Could you please check guide for self-managed Fleet Server:
- https://www.elastic.co/guide/en/fleet/8.0/add-a-fleet-server.html#add-a-fleet-server

We haven't observed any updates related to fingerprints for self-managed Fleet Server installation.
Further commands are also not updated under this guide:
![18](https://user-images.githubusercontent.com/77374

[2022-01-18 12:14] kvch commented on #1309
PR: https://github.com/elastic/beats/pull/29887

[2022-01-18 12:51] #1309 closed

[2022-01-18 17:20] michel-laterman commented on #1308
@amolnater-qasource, the PR still needs to be reviewed: https://github.com/elastic/observability-docs/pull/1463

[2022-01-18 18:33] dedemorton commented on #1314
Sounds good. I'm working on the doc updates right now and should have them up for review in a day or two.

[2022-01-18 18:56] dedemorton commented on #954
FYI, docs/en/ingest-management/tab-widgets/install-layout.asciidoc appears on this page: https://www.elastic.co/guide/en/fleet/8.0/installation-layout.html

The documentation work is in our queue, but not yet assigned to a writer. We will update this issue when the docs are available.

[2022-01-18 20:28] #1453 closed

[2022-01-18 20:30] bmorelli25 commented on #1023
@simitt can you clarify when you have some time. I'm confused about these two statements:

https://github.com/elastic/observability-docs/issues/1023#issuecomment-1008877338:

vs https://github.com/elastic/cloud/pull/95269/files#r786716269:

[2022-01-18 21:00] nimarezainia commented on #1444
Hi @ollyhowell, can i move this to the todo column? thx

[2022-01-18 22:17] #1308 closed

[2022-01-18 22:24] bmorelli25 commented on #1226
That was Andrew, with a thumbs up from Silvia in https://github.com/elastic/apm-server/pull/6940#discussion_r782735208. Holding off on documenting this for now.

[2022-01-19 07:07] simitt commented on #1023
Seems I blanked when providing this answer, apologies for that:

These options are not supported any more by APM Server, so they also cannot be supported any more in Cloud. We have missed to update the allowlisting though until now. I have to go through the settings in detail to be able to provide an overview of supported settings. Will follow up here.

[2022-01-19 09:05] amolnater-qasource opened #1469 "[Bug]: Incomplete installation command available under Agent Upgrade guide."
**Description:**
Link: https://www.elastic.co/guide/en/fleet/8.0/upgrade-elastic-agent.html#upgrade-7.12-lower
(Under Self-Managed section)
Incomplete installation command available under Agent Upgrade:
- `--fleet-server-policy` flag is missing.

**Screenshot:**
![20](https://user-images.githubusercontent.com/77374876/150098108-8fd06a9b-d77a-4f6f-8966-6efca8492f83.JPG)

- Even the command in attac

[2022-01-19 09:05] amolnater-qasource commented on #1469
@manishgupta-qasource Please review.

[2022-01-19 09:10] manishgupta-qasource commented on #1469
Reviewed & mention to @dedemorton

[2022-01-19 13:58] ollyhowell commented on #1444
Thanks @nimarezainia , still catching up 'this year' and hadn't seen this but have moved along and will have a chat with the team on scheduling

[2022-01-19 18:13] mostlyjason opened #1470 "[Request] Fix bug in Elastic Agent proxy docs"
## Description
The [current docs](https://www.elastic.co/guide/en/fleet/7.16/fleet-agent-proxy-support.html#_set_the_proxy_for_downloading_artifacts) say that users have to set `agent.download.proxy_url` in `fleet.yml`. However, @michel-laterman tested it and found that it respects the regular environment variables.

See more detail here https://github.com/elastic/sdh-beats/issues/1599#issuecommen

[2022-01-19 19:22] dedemorton opened #1471 "[Request] Update Fleet screenshots"
## Description

8.0 introduced UI changes that affected many screens in the documentation (for example, moving Fleet Settings to a separate tab in the Fleet UI affects about every screen capture that shows Fleet.)

Updating those screens will require extra setup steps and possibly coordination with other writers, so I am breaking this work out from the original issue: https://github.com/elastic/ob

[2022-01-19 20:11] dedemorton commented on #1444
The statement "no longer be available for use" sounds like removal, not deprecation. Are we removing the actual generator code, too? (IMO, if we haven't, we should.)

I think it's weird to provide documentation for capabilities that are not available, so I'm wondering if we should remove the content in 8.0 instead of marking it as deprecated.

Can you look through and identify which topics (if any

[2022-01-19 23:06] dedemorton commented on #1314
@amolnater-qasource A PR of the changes for this issue is up at https://github.com/elastic/observability-docs/issues/1314. (As noted, this includes content changes, and not screenshots, which are covered in a separate (less urgent) PR. Thanks!

[2022-01-20 01:45] dedemorton opened #1472 "[Request] Refactor Fleet troubleshooting section"
## Description

The Fleet troubleshooting docs are getting long and hard to maintain because they are in one big file. Let's break that file up to make it easier to update and rearrange the content. We can continue to provide the content in a single html file.

Also add sections to organize the info into categories like: Elastic Agent, Fleet, etc.

## Collaboration

- The docs team will lead produ

[2022-01-20 02:13] bmorelli25 commented on #1023
Great, thanks!

Also, no need for a specific upgrading to 8.0 issue. I'm working on that PR now.

[2022-01-20 06:51] amolnater-qasource commented on #1314
Thanks for confirming @dedemorton
We will keep track of these PRs and will validate docs after merges.

[2022-01-20 09:58] ollyhowell opened #1474 "[Request] Document Developer Setup Docker local"
Draft:

# Developer Setup Docker local

​
Install [Get Docker | Docker Documentation](https://docs.docker.com/get-docker/) and [Install Docker Compose | Docker Documentation](https://docs.docker.com/compose/install/) .
Please make sure to dedicate
​

​
Create a directory `elastic-observability` somewhere on your system.
​
In this directory, create a file `docker/compose.yml` with this content:
​
[

[2022-01-20 10:16] EamonnTP commented on #987
[A proposal](https://docs.google.com/document/d/1ykjfr30JA5jqDjDbQer0m08-92fAAFeld3n7Ho0VNEM/edit?usp=sharing) to restructure the content and provide a specific use-case that showcases a multi-series visualization.

[2022-01-20 17:19] dedemorton commented on #1220
Fixed in https://github.com/elastic/apm-agent-ruby/pull/1224

[2022-01-20 17:58] #1412 closed

[2022-01-20 19:44] vinaychandrasekhar opened #1478 "New concise, consistent alert reason messages"
## Description
improvements to and standardization of alert reason messages across Observability. The messages are now limited in length while conveying the same bits of important information. Documentation update needs might be minor. Please ensure any screenshots that show the older messages are replaced with newer screenshots.

"Master" GH ticket is [here](https://github.com/elastic/kibana/issu

[2022-01-20 19:48] vinaychandrasekhar opened #1479 "Alert flyout pagination and navigation"
## Description

When viewing alert details in the flyout, there will now be pagination controls that help navigate between the alerts shown in the table. As users navigate between alerts, the alerts table in the background should highlight the current alert being viewed via the pagination controls in the flyout.

Related GH issue is [here](https://github.com/elastic/kibana/issues/96568).

## Colla

[2022-01-20 19:53] vinaychandrasekhar opened #1480 "Alert reason message and "view in app" link inclusion in notifications"
## Description
The following fields will now be available in the rule templating language when defining rules:
- Alert "Reason"
- View in App URL

Related GH issue is [here](https://github.com/elastic/kibana/issues/119090).

Documentation impact might be minor.

## Collaboration
- The product team will provide the initial content and the docs team will edit / review

**Contact Person:**
@fkanout

[2022-01-20 21:15] bmorelli25 opened #1482 "APM documentation updates"
An issue to track all of the APM documentation issues

### 7.17
- [x] https://github.com/elastic/observability-docs/issues/1385

### 8.0
- [x] https://github.com/elastic/observability-docs/issues/1023
- [x] https://github.com/elastic/observability-docs/issues/1073
- [x] https://github.com/elastic/apm-server/issues/6662
- [x] https://github.com/elastic/apm-server/issues/6446
- [x] https://github.co

[2022-01-24 15:49] simitt commented on #1023
Regarding the _Edit User Settings_ - the cloud team reopened an issue for this. It is not supposed to show in the UI when apm is migrated.

[2022-01-24 17:59] #1220 closed

[2022-01-24 23:05] jen-huang opened #1488 "[Request][Fleet] Account for removal of superuser requirement to access UI"
## Description

Account for removal of superuser requirement to access UI, as implemented in 8.1 via https://github.com/elastic/kibana/issues/108252.

At minimum this page:
https://www.elastic.co/guide/en/fleet/current/install-fleet-managed-elastic-agent.html

## Collaboration

- The docs team will lead producing the content

**Contact Person:** @criamico

## Suggested Target Release

8.1

## Stak

[2022-01-24 23:06] jen-huang opened #1489 "[Request][Fleet] Account for removal of default agent policy"
## Description

Account for removal of default agent policy, as implemented in 8.1 via https://github.com/elastic/kibana/issues/108456.

At minimum this page:
https://www.elastic.co/guide/en/fleet/current/install-fleet-managed-elastic-agent.html

## Collaboration

- The docs team will lead producing the content

**Contact Person:** @juliaElastic

## Suggested Target Release

8.1

## Stakeholders

[2022-01-25 02:50] dedemorton commented on #1313
@mostlyjason Sorry it's taken a while to get around to testing this. You are right; the upgrade command does not work for Fleet-managed agents on rpm (or, I assume, deb).  It also does not appear to work on standalone agents installed using rpm. When I tried to use the upgrade command on an agent installed using rpm, I got:

[code]

First, it seems odd that the message text tells me to use the ins

[2022-01-25 14:48] gbamparop opened #1490 "[Request] AWS Lambda support in the APM UI"
## Description
Some APM agents now support AWS lambda instrumentations. In this context some of the data is not available while some additional, serverless-specific information is available that is very valuable for APM use cases.

Additions for [service overview ](https://www.elastic.co/guide/en/kibana/current/service-overview.html) (charts, metadata icons and details) and [transactions](https://

[2022-01-25 19:53] bmorelli25 opened #1491 "Update "What is an integration""
Update the integrations [get started](https://docs.elastic.co/en/integrations) content based on the internal integrations FAQ document.

Internal link, sorry: https://docs.google.com/document/d/1k7x9UwhAZLXGG4uwXTVT_HZD38Q34qgOdszXmDAY6ic

[2022-01-25 19:58] bmorelli25 commented on #1385
https://github.com/elastic/docs/pull/2333 is green, so this is done! Thanks to everyone who helped!

[2022-01-25 19:58] #1385 closed

[2022-01-25 19:59] bmorelli25 commented on #1214
Done. See https://github.com/elastic/observability-docs/issues/1385 for details.

[2022-01-25 19:59] #1214 closed

[2022-01-25 19:59] bmorelli25 commented on #1222
Done. See https://github.com/elastic/observability-docs/issues/1385 for details.

[2022-01-25 19:59] #1222 closed

[2022-01-25 19:59] bmorelli25 commented on #1216
Done. See https://github.com/elastic/observability-docs/issues/1385 for details.

[2022-01-25 19:59] #1216 closed

[2022-01-25 19:59] bmorelli25 commented on #1215
Done. See https://github.com/elastic/observability-docs/issues/1385 for details.

[2022-01-25 19:59] #1215 closed

[2022-01-25 19:59] bmorelli25 commented on #1217
Done. See https://github.com/elastic/observability-docs/issues/1385 for details.

[2022-01-25 19:59] #1217 closed

[2022-01-25 19:59] bmorelli25 commented on #1218
Done. See https://github.com/elastic/observability-docs/issues/1385 for details.

[2022-01-25 19:59] #1218 closed

[2022-01-25 20:00] bmorelli25 commented on #1219
Done. See https://github.com/elastic/observability-docs/issues/1385 for details.

[2022-01-25 20:00] bmorelli25 commented on #1221
Done. See https://github.com/elastic/observability-docs/issues/1385 for details.

[2022-01-25 20:00] #1221 closed

[2022-01-25 21:24] dedemorton opened #1492 "[Request] Clarify terminology around adding an integration"
## Description

In the docs about adding an [integration to an agent policy](https://www.elastic.co/guide/en/fleet/current/add-integration-to-policy.html ), we should make it clear that the integration gets installed (if it's not already installed).

This will help users who are confused about what it means when they add an integration and why they keep having to add it over and over again.

## Co

[2022-01-26 18:53] #880 closed

[2022-01-26 19:40] #1314 closed

[2022-01-27 03:43] dedemorton opened #1497 "[Request] Improve the Elastic Agent quick start guides"
## Description

The "quick start" guides for Elastic Agent contain a lot of caveats that make it hard to run through the steps quickly (especially for cloud users). Also the workflow that's described is outdated. Instead of recommending that users start in Fleet, we should drive them towards the onboarding experience that begins in the Integrations app.

To streamline the content, we should:

- Re

[2022-01-27 03:46] dedemorton commented on #1497
@DanRoscigno I think you've done some ingest-related writing for cloud. Let me know if you have any other suggestions for improving the quick starts (specifically the ones that use Elastic Agent). I think they've gotten very bloated and wordy. :-/

[2022-01-27 19:42] mostlyjason commented on #1313
@nimarezainia I think you are better suited to drive this as agent PM

[2022-01-28 12:08] joshdover commented on #1488
We also should update the relevant row in the Beats v Agent comparison table here: https://www.elastic.co/guide/en/fleet/current/beats-agent-comparison.html

[2022-01-29 00:37] nimarezainia commented on #1313
@dedemorton do you recall what commands you used here? I agree, this message is extremely confusing.

[2022-01-29 00:42] nimarezainia commented on #1313
@ph @blakerouse : regarding the procedure that's mentioned here: https://github.com/elastic/observability-docs/issues/1313#issuecomment-1020756800   would you know what the exact steps are to do this? ideally we could provide the "upgrade" command that unenrolls and then enrolls the agent back in.

We have asked the user to not use the install command when using a package like rpm/deb. So it's fai

[2022-01-29 01:09] insukcho commented on #1036
Hi, team. What is the progress of this issue? any update?

[2022-01-31 09:41] cyrille-leclerc opened #1500 "[Request] Document beta support for OpenTelemetry Logs"
## Description

We are doing in 8.0 the quiet launch of the `beta` support of OpenTelemetry Logs.
For the record, we already support OpenTelemetry Traces and Metrics.

We thought of adding a section "Logs Support (beta)" in https://www.elastic.co/guide/en/apm/guide/current/open-telemetry.html

## Collaboration
*(Choose the expected collaboration model and delete the others.)*

- The docs team will

[2022-01-31 09:50] simitt commented on #1500
@cyrille-leclerc is working on a blog post for this for the `8.1` launch. @bmorelli25 the idea is to have the docs ready until then and also backport them to the `8.0` docs. Does that sound feasible?

[2022-01-31 12:06] #1260 closed

[2022-01-31 20:53] mostlyjason commented on #1470
Proxy settings are tested and work https://github.com/elastic/enhancements/issues/15155#issuecomment-1024642129

[2022-02-01 18:12] kvch commented on #954
My PR fixes the naming problem from version 8.0. But below that version (7.17 and below), the names still need an update.

[2022-02-01 18:39] #1343 closed

[2022-02-02 13:24] vinaychandrasekhar commented on #1417
Please note that elastic/kibana#116476 is now tracked for 8.1 availability. Check with @mgiota or me on any queries on this ticket.

[2022-02-02 23:03] dedemorton commented on #149
Closed by https://github.com/elastic/observability-docs/pull/1485

[2022-02-02 23:03] #149 closed

[2022-02-03 23:49] #1185 closed

[2022-02-04 14:29] ollyhowell commented on #987
Looking at Eamonn's proposal doc and digging into the feature itself, I'll shortly link a draft PR I'm working on but highlights below:

1. update existing exploratory-data-visualizations.html page with some of the proposed content from Eamonn's doc and some additions/edits based on the content and functionality we have now
2. either remove the 2 sub pages (synthetic-monitoring-visualizations.html

[2022-02-04 16:05] joshdover commented on #1489
@juliaElastic Can you provide instructions / configuration for using the API or `kibana.yml` to do this in an automated fashion.

I wonder if it makes sense to have a specific section or doc page about automated setups and how to configure this end-to-end without needing to touch the UI.

[2022-02-04 18:31] dedemorton opened #1533 "[Request] Failure to set ES host under Fleet settings results in misleading security permissions error"
## Description

When setting up Fleet Server (self-managed), users may get the following error related to index permissions if they fail to set the Elasticsearch host before trying to enroll an Elastic Agent in a Fleet Server policy.

[code]

To fix this error, users need to correctly set the host URL under Settings before attempting to enroll agents.

We need to:

- [ ] Add a troubleshooting topi

[2022-02-05 05:08] Wow123419 opened #1534 "[Request]"
## Description

*(Describe what needs to be documented. Link to relevant issues.)*

## Collaboration
*(Choose the expected collaboration model and delete the others.)*

- The docs team will lead producing the content
- The product team will provide the initial content and the docs team will edit / review
- The docs team will define with product team the structure and location, and the product team

[2022-02-07 12:38] paulb-elastic commented on #987
I think it would be useful to at least update what we have to bring it inline with what it looks like (changes from 7.16 onwards).  Maybe getting those done initially whilst a bigger overhaul is planned?  There will be ongoing updates to Exploratory View, most of which will be done by the **Unified Observability** team going forward, so they will also have thoughts here too (/cc @danielkhan, @smit

[2022-02-07 12:44] ollyhowell commented on #987
Yeah, totally agree - here is a link to the intermediate update: https://observability-docs_1532.docs-preview.app.elstc.co/guide/en/observability/7.16/exploratory-data-visualizations.html
It's a draft PR but could get this reviewed and complete this week...

[2022-02-07 13:30] danielkhan commented on #987
@paulb-elastic, we are currently talking to different groups within o11y and security to find out more about the use-cases but I don't yet have anything to share.

[2022-02-07 15:06] juliaElastic commented on #1489
@joshdover updated with instructions

[2022-02-08 00:26] bmorelli25 commented on #1023
The final batch of updates for Cloud are now merged (https://github.com/elastic/cloud/issues/96752). Closing this PR as I think we're finally done!

[2022-02-08 00:26] #1023 closed

[2022-02-09 07:53] jlind23 opened #1543 "Add Memory/CPU usage & Min hardware spec requirements for Agent Documentation"
## Description

*(Describe what needs to be documented. Link to relevant issues.)*
We need to have a doc section explaining what are the minimum configurations needed when running an Elastic Agent.

## Collaboration
- The product team will provide the initial content and the docs team will edit / review

**Contact Person:**

@michel-laterman @nimarezainia

## Suggested Target Release
8.1

*(Let us

[2022-02-09 16:30] andresrc opened #1544 "[Request] Remove references to homebrew in Beats docs"
## Description

We are not delivering homebrew packaging for 8.0, so we need to remove the references (like [this](https://www.elastic.co/guide/en/beats/metricbeat/8.0/metricbeat-installation-configuration.html)) from beats documentation.

## Collaboration
*(Choose the expected collaboration model and delete the others.)*

- The docs team will lead producing the content

*(Assign a contact person

[2022-02-09 17:12] mostlyjason commented on #1488
@joshdover can we also document the privileges users need to use Fleet & Elastic Agent? I'm thinking something equivalent to https://www.elastic.co/guide/en/beats/filebeat/7.16/feature-roles.html. In addition to the Kibana privileges Fleet and Integrations, they also need Kibana privileges for Dashboards. They also need index privileges for common data streams, particularly elastic_agent data stre

[2022-02-09 19:23] dedemorton opened #1545 "[Request] Use proper arrows instead of greater than sign in menu paths"
## Description

Our procedural docs currently use **>** to show paths, but the directionality of these symbols is lost in screen readers where they are read as "greater than." We should replace these symbox with an arrow symbol like →.

We need to discuss this change with the larger docs org to confirm that teams agree to this change. We might be able to make this change during the conversion to m

[2022-02-09 19:25] #747 closed

[2022-02-09 21:25] #1544 closed

[2022-02-10 13:32] jlind23 commented on #1543
@michel-laterman may i assign you this one?

[2022-02-10 23:20] nimarezainia opened #1556 "[Request] Document how the Elastic Agent should b deployed in a VDI environment"
## Description

We added the --delay-enroll option which was documented. The main use case for this is the VDI use case where a golden image is created with the agent. There using this flag, the user avoids having the agent enroll into fleet. Once the golden image is deployed  and provisioned the agent enrolls into fleet thereby obtaining a unique agent id.

https://github.com/elastic/beats/pull/2

[2022-02-14 21:50] nimarezainia opened #1568 "[Request] Fleet and APM node renaming"
## Description

*In 8.0 the concept of an Integrations Server was introduced to replace and generalize the "fleet & APM node. We have some references in our feet-server documentation that would need to be upgraded*

## Collaboration

- The docs team will lead producing the content

* @nimarezainia  *

**Contact Person:**

## Suggested Target Release

*8.0*

## Stakeholders

*@nimarezainia*

[2022-02-14 21:54] nimarezainia commented on #1568
On this page:  https://www.elastic.co/guide/en/fleet/current/fleet-server-scalability.html

replace "3. Under APM & Fleet"  with  "3. Under Integrations Server"

Then replace the image with:

![image](https://user-images.githubusercontent.com/13442829/153952907-4f665251-136f-4551-bdd6-bc6ce566ea85.png)

[2022-02-14 21:57] nimarezainia commented on #1568
On this page: https://www.elastic.co/guide/en/fleet/current/add-a-fleet-server.html

In the "How to add a Fleet Server", the "Elasticsearch Service" tab would need to have the image updated:

![image](https://user-images.githubusercontent.com/13442829/153953239-e125931a-1344-4e66-a361-1599b06c5bb0.png)

[2022-02-14 22:07] bmorelli25 commented on #1474
I don't know if we want to promote the APM Server binary as the best way for users to set up a Docker dev environment. I think the Elastic Stack + Elastic Agent would be better to document.

[2022-02-14 23:43] jen-huang opened #1569 "[Fleet] Rename "APM & Fleet Server" references to "Integrations Server""
## Description

Originally reported in #125383.

<img width="894" alt="Screenshot 2022-02-11 at 15 49 21" src="https://user-images.githubusercontent.com/5555349/153613441-45db26b7-1325-4b53-b1ee-71fccd2c31a0.png">

## Collaboration
*(Choose the expected collaboration model and delete the others.)*

- The docs team will lead producing the content

**Contact Person:** @mostlyjason

## Suggested Targ

[2022-02-15 09:49] JohannesMahne opened #1573 "[Request] Documentation section APM Central configuration performance related issues"
## Description

There might be issues that are difficult to identify. We have seen that the following conditions might cause performance issues:
- APM Central configuration enabled
- many agents are enrolled
- the agents have a lot of different environment/service names per agent

Under these conditions it might happen that either Kibana or Elasticsearch is overwhelmed by the number of `/api/apm/s

[2022-02-15 10:26] lucabelluccini commented on #1573
The document was originally intended for internal consumption.
I think we can slim down the contents and avoid publishing internal implementation details (e.g. "How it works").

## TL;DR;

APM Agents check for the presence of dynamic APM Agent configurations to APM Server using the APM Agent language, the service name and the environment (if defined).

APM Server checks the presence of the dynamic

[2022-02-15 16:32] mostlyjason opened #1578 "[Request] Document how to customize index templates from packages"
## Description

*(Describe what needs to be documented. Link to relevant issues.)*
We want to give users better guidance on how to customize assets provided by integration packages. That includes how to apply custom index template settings, mappings, ILM policies and ingest pipelines. We'll document how to customize these at a dataset level of granularity. We can leave namespace-specific customiza

[2022-02-15 17:21] michel-laterman commented on #1543
How is this ticket different from https://github.com/elastic/observability-docs/issues/726?

[2022-02-15 18:08] bmorelli25 commented on #1573
This is great — thank you @JohannesMahne and @lucabelluccini. Once we get confirmation from an engineer that this looks good, I'll handle getting this added to the docs.

[2022-02-15 22:59] #745 closed

[2022-02-17 21:53] A-Hall opened #1599 "[Request]"
## Description

The [documentation on hosting your own package repo](https://www.elastic.co/guide/en/fleet/current/air-gapped.html) has instructions on running the container in the foreground.   It would be more practical in a production environment to have the container run detached and potentially automatically restart.

something like:
`docker run -d --restart=unless-stopped -it -p 8080:8080 do

[2022-02-18 04:00] dedemorton commented on #581
Closed by https://github.com/elastic/observability-docs/pull/1473

[2022-02-21 08:50] jlind23 commented on #1543
@michel-laterman it is not, closing.

[2022-02-21 08:50] #1543 closed

[2022-02-22 13:39] kpollich opened #1603 "[Request] Document Fleet's "setup" process in detail"
## Description

The Fleet team would like to create some documentation about Fleet's setup process in which we bootstrap various Fleet dependencies and assets like component templates, ingest pipelines, output settings, etc.

## Collaboration
- The docs team will define with product team the structure and location, and the product team will provide the initial content

I'll provide an initial outl

[2022-02-22 14:44] nephel commented on #726
I was wondering, are the documented defaults on ECK anything to go by?
https://www.elastic.co/guide/en/cloud-on-k8s/current/k8s-managing-compute-resources.html#k8s-compute-resources-beats-agent
https://www.elastic.co/guide/en/cloud-on-k8s/current/k8s-managing-compute-resources.html#k8s-default-behavior

[2022-02-22 15:34] mostlyjason commented on #1603
Thanks for writing this! My main question is where this will live since its not something users need for our most common use cases. Perhaps it'd fit with this architecture doc we intended to write at some point? https://github.com/elastic/observability-docs/issues/239

[2022-02-22 19:50] ollyhowell commented on #1474
@danielkhan what do you think?

[2022-02-22 20:09] danielkhan commented on #1474
@bmorelli25 can you describe the setup you'd recommend to a local development setup?

Also, can we test the quick start you referenced and see what needs to be updated?
I created my guide months ago and as far as I remember, the solutions in our docs didn't work with 7.16. If I remember correctly, it was because security is enabled and required now by default.
If this guide does not work with 8.0,

[2022-02-22 21:36] #726 closed

[2022-02-23 11:36] ollyhowell opened #1611 "[Request] Review blog and incorporate technical content into docs"
## Description

This blog contains details missing from the docs: https://www.elastic.co/blog/why-and-how-replace-end-to-end-tests-synthetic-monitors

## Collaboration

- The docs team will lead producing the content

**Contact Person: @andrewvc** (based on initial request - feel free to change)

## Suggested Target Release

## Stakeholders

[2022-02-23 15:27] nchaulet commented on #1603
On premise Fleet set a default output pointed at what is in `xpack.fleet.agents.elasticsearch.hosts` or `localhost:9200`

[2022-02-23 18:58] dedemorton opened #1612 "[Request] Update links to Elastic Agent code repo in 8.2"
## Description

Links to the Elastic Agent code repo (currently the beats repo) need to be updated by March 5. The new code repository is https://github.com/elastic/elastic-agent

Background: From 8.2 on, Elastic Agent code base will be moved to its own repository,

Elastic Agent will be moved out of beats on March 4th. Only the main branch will be updated which means that versions 8.1 and lower w

[2022-02-23 19:01] dedemorton opened #1613 "[Request] Create Elastic Agent release notes for 7.17.1"
## Description

7.17.1 is releasing soon. See release schedule for details

## Collaboration
*(Choose the expected collaboration model and delete the others.)*

- The docs team will lead producing the content

## Suggested Target Release

7.17.1

## Stakeholders

Release team

[2022-02-24 10:30] ollyhowell commented on #1474
It sounds like there's an overlap between the above quick start and the APM one but neither are ideal / up-to-date.
I've not ran thru either setup myself yet but let's work out what the 'ideal' setup would be before you get too deep in this issue, @colleenmcginnis

To the general point about keeping docs up-to-date, the main problem is we're under resourced so there's a never ending To Do list and

[2022-02-24 12:47] ollyhowell opened #1615 "[Request] Create Troubleshooting section for Synthetics"
## Description

From very useful tech support guidelines for Uptime, is there content that could be used to build a useful Troubleshooting section in docs?

https://github.com/elastic/support-tech-lead/issues/1100#issuecomment-1028873108

## Collaboration

- The docs team will lead producing the content

**Contact Person: @lucasfcosta** (based on initial SDH help)

## Suggested Target Release

##

[2022-02-24 13:20] joshdover commented on #1603
Should we include details on the finer points of how preconfigured outputs, package policies, and agent policies handle changes to the preconfigured values? I don't think we need to go back and document this for the older versions since there's been quite a few small tweaks, but I think going forward it'd be nice to have this behavior written down somewhere. If not in the public docs, then at leas

[2022-02-25 00:36] dedemorton opened #1619 "Resolve TODOs in the Fleet and Elastic Agent docs"
## Description

There are quite a few TODO items in the body of the source files for the Fleet and Elastic Agent docs. Sometimes they were added because there was work going on in parallel that needed to be merged before the TODO item could be completed.

They need to be evaluated and either removed, fixed, or tracked in a GitHub issue. Sometimes they were added because there was work going on in

[2022-02-28 19:42] #1348 closed

[2022-02-28 21:29] DanRoscigno commented on #1315
@linyaru can you suggest who I can talk to to find out which of the above docs are the "best practices" for each of the CSPs?  Would it be Adam Quan for AWS?  I don't have any idea who to speak to for GCP.

[2022-02-28 22:54] bmorelli25 commented on #1036
Hi Chris. Unfortunately, there hasn't been any progress on this issue. With the size of our team, it's unlikely that we'll prioritize this.

[2022-02-28 22:55] bmorelli25 commented on #1036
cc @ollyhowell for visibility and input

[2022-03-02 15:06] jamiehynds opened #1628 "[Request] Update docs with new integrations"
## Description

We've recently shipped some new integrations and our docs site needs to be updated accordingly.

- [x] AbuseCH: https://github.com/elastic/integrations/tree/main/packages/ti_abusech/docs *
- [x] Alienvault OTX: https://github.com/elastic/integrations/tree/main/packages/ti_otx/docs *
- [x] Anomali: https://github.com/elastic/integrations/tree/main/packages/ti_anomali/docs *
- [x] Au

[2022-03-02 17:22] Jaraxal opened #1629 "[Request] Add additional troubleshooting details for Fleet TLS/SSL issues"
## Description

The Fleet troubleshooting section [Fleet and Elastic Agent Guide](https://www.elastic.co/guide/en/fleet/7.17/fleet-troubleshooting.html) should include additional troubleshooting information for TLS/SSL issues.

You may run into the following error when using self-signed certificates:

`{"type":"log","@timestamp":"2022-03-02T09:58:36-05:00","tags":["error","plugins","fleet"],"pid":

[2022-03-02 18:31] bmorelli25 commented on #1628
Thanks, Jamie. These should all be addressed in https://github.com/elastic/wordlake/pull/18 which I hope to merge later today. There are two exceptions:

* RecordedFuture — as noted above
* Auth0 – doesn't have curly brackets and braces escaped in the readme which prevents it from building in the docs system

[2022-03-02 18:42] DanRoscigno opened #1630 "When deploying Agent and not on current the download / install page does not provide enough info"
I am running Elastic Stack 8.0.0, and 8.0.1 is "current".  I worked through the steps to create an Elastic Agent Policy and then tried to deploy Agent on a Linux server.  In Kibana I was directed to the download page and all I saw on the page are the links to download Agent for various operating systems.  There is no information about what to do with the binary, and the instructions in Kibana skip

[2022-03-02 18:47] jamiehynds commented on #1628
Thanks @bmorelli25!

- Auth0 - @r00tu53r would you mind taking a look at the escaping issue so we can proceed with docs?
- Zscaler - no worries if it isn't possible to add a filter. We can add a deprecation notice within the doc itself (I think)

[2022-03-02 19:07] bmorelli25 commented on #1628
@r00tu53r PR for Auth0 is up here: https://github.com/elastic/integrations/pull/2761. It'd be great if you can take care of the release process.

[2022-03-02 21:02] bmorelli25 commented on #1628
Deprecated filter added in https://github.com/elastic/wordlake/pull/18/commits/d938c22b8aef9e207f181e12a565998d94f7ffd0. I'll update the description with checkboxes.

[2022-03-02 21:12] bmorelli25 commented on #1628
They've been set up like this for a while. Is there something different you'd like to see?

<img width="247" alt="Screen Shot 2022-03-02 at 1 11 05 PM" src="https://user-images.githubusercontent.com/5618806/156450277-d507b4d8-e46b-4836-83a1-10084994911d.png">

[2022-03-03 09:47] jlind23 opened #1636 "[Request] Update Journalbeat and Filebeat"
## Description

Journalbeat and Filebeat documentation should be updated to highlight the following:
Filebeat shouldn't be used to ship its own log file, or Journalbeat shipping its own log file. It is generally not a good idea to have log shippers ship their own log files.

## Collaboration
- The docs team will lead producing the content

*(Assign a contact person for this issue. We need to have

[2022-03-04 11:16] jamiehynds commented on #1628
Sorry @bmorelli25, totally missed the TI integrations on the docs page. We'll have a new integration (Recorded Future) coming there soon. Will let you know when it's available.

Thanks for sorting out the Zscaler filter - looks great.

If you need any help with Auth0, just let me know.

[2022-03-04 11:30] jamiehynds commented on #1628
@bmorelli25 could you apply the same filter to the Symantec docs that you did for Zscaler? There's currently a deprecated integration in there that would be great to remove from the docs: https://docs.elastic.co/en/integrations/symantec

[2022-03-04 19:44] bmorelli25 commented on #1628
Removed in https://github.com/elastic/wordlake/pull/19.

[2022-03-07 19:46] dedemorton commented on #1613
Closed by #1614

[2022-03-07 19:46] #1613 closed

[2022-03-07 21:07] bmorelli25 commented on #975
Done in 8.0 in https://github.com/elastic/apm-server/pull/7103.

[2022-03-07 21:07] #975 closed

[2022-03-07 21:51] #1488 closed

[2022-03-07 22:06] bmorelli25 commented on #1288
Mostly fixed in 8.0. Could still do with better linking to the input settings.

[2022-03-07 22:55] dedemorton commented on #1489
@jen-huang Regarding this comment:

Do you mean that it's removed from the command that is shown in the UI? I still see the `-f` option when I run `elastic-agent help install` so I assume that it's still a valid option, correct?

[2022-03-08 02:34] #1288 closed

[2022-03-08 02:35] dedemorton opened #1649 "[Request] Add info about default policies to 8.1.0 Fleet release notes"
## Description

From https://github.com/elastic/observability-docs/issues/1489

Highlight the change that Default policy will not be available by default, and has to be created on UI/API or preconfiguration.
Highlight the change that for Self-managed, Default Fleet Server policy will not be available by default, and has to be created on UI/API or preconfiguration.
Elastic Cloud agent policy is not

[2022-03-08 11:04] akshay-saraswat opened #1651 "[Request] Update K8s integration documentation"
## Description

Existing [K8s integration documentation page](https://docs.elastic.co/en/integrations/kubernetes) and specifically the compatibility section needs an update. There were some changes that were introduced to the package documentation recently which are missing in the docs.elastic.co.

## Collaboration

- The product team has already merged the initial content and the docs team will h

[2022-03-08 11:56] danielkhan commented on #1474
How should we proceed with this?
@bmorelli25 brought up that we want to recommend a different setup. Who do we think is responsible for providing guidance in cases like this?
@alex-fedotyev, @simitt  do you have a preferred way we should document here?
The goal is to have a quick and easy way to spin up a local elastic setup for o11y.

[2022-03-08 15:58] simitt commented on #1474
Ensuring that docs in the APM Server guide are up-to-date has been the responsibility of the APM Server team. I suggest we keep owning that for now. So ideally, whenever we update or implement a new feature, there is a dedicated docs issue that we share with the tech writer team and that gets scheduled, or if it is just tiny updates, engineers might include the changes directly in their PR.

It be

[2022-03-08 16:00] simitt commented on #1474
For the concrete ask to document docker with Elastic Agent and Fleet, we will need to provide extra guidance on how to add APM Server Integration to the Agent policy to which the Elastic Agent is enrolled.

[2022-03-08 17:22] dedemorton opened #1652 "[Request] Change "APM & Fleet" to "integrations-server" in Fleet/Agent docs"
## Description

Might be a caching issue, but I'm still seeing references to "APM & Fleet"  in the Elastic Agent/Fleet docs. We need to make sure that all instances of "APM & Fleet" have been replaced with "`{integrations-server}`".

## Collaboration

- The docs team will lead producing the content

## Suggested Target Release

8.1

[2022-03-08 17:24] #1612 closed

[2022-03-08 17:49] bmorelli25 commented on #1651
Pending EPR update. See Slack thread for details.

[2022-03-08 18:08] #1489 closed

[2022-03-08 20:13] danielkhan commented on #1474
I think this discussion shows an inherent problem.

This was the original claim by @bmorelli25

For a dev setup, one would need to run Agent and Fleet Server in a Docker container each and, even with an ideal Docker file, then also get the configuration within Kibana right so that Agent and Fleet are enrolled and connected.
In this case, all components would run isolated in a Docker container. Doe

[2022-03-08 21:44] bmorelli25 commented on #1474
A few thoughts here. First — and Silvia, correct me if this has changed — APM Server standalone will soon be deprecated in favor of Elastic Agent + the APM integration. That's a good enough reason in itself to avoid documenting the standalone (now legacy) method of running APM. In addition, the Docker guide in this issue only sets up Elasticsearch, Kibana, and APM Server. It's a nice way to get st

[2022-03-08 21:51] danielkhan commented on #1474
That's valid. Do we know who drives this decision and makes the call @simitt?

The thing is that from a Docker container all you will see are the metrics from the container Agent runs on and also Synthetics isn't relevant in this scenario either.

[2022-03-08 22:05] bmorelli25 commented on #1474
Maybe I'm misunderstanding the goal of this docker setup tutorial. Isn't this a way for users to easily test out Elastic Observability? To do that, don't we want to give them a playground where they can install whatever integrations they choose?

[2022-03-08 22:15] #1573 closed

[2022-03-08 22:15] danielkhan commented on #1474
Cloud provides a viable playground for testing the whole range of observability.
This is for folks that want to use Elastic to mostly collect traces during development.
The purpose is to provide something similar as shown here: https://www.jaegertracing.io/docs/1.29/getting-started/
Run it, send traces and see them in Elastic. This can be either through an APM agent or OpenTelemetry. We support bo

[2022-03-08 22:56] bmorelli25 commented on #1474
Oh. In that case, let's start over.

A legacy (APM Server standalone) docker guide exists: https://www.elastic.co/guide/en/apm/guide/current/quick-start-overview.html. It's similar to what you have in this issue. We can update it and add context to turn it into a more useful developer guide. But there's a catch. Starting in 7.17, [our documentation](https://www.elastic.co/guide/en/apm/guide/curren

[2022-03-08 23:12] danielkhan commented on #1474
I think this all makes sense. Ideally, this could also be an exercise to make the overall Agent/Fleet setup easier.
I know that there is some ongoing work. We might have to connect the strings here though. FYI @mukeshelastic

[2022-03-09 00:40] #916 closed

[2022-03-09 16:20] DanRoscigno commented on #1630
@dede, I think this is more broken now than it was.  I just created a fresh deployment and the standard add an integration workflow takes me to a page without the link to the Fleet guide.

[2022-03-09 17:28] dedemorton commented on #1630
@DanRoscigno Agreed. It's especially odd and counter-intuitive in 8.1.0 that we send users to a URL containing "past-releases". :-/ I am not sure when/how this decision was made, or why the download pages for past releases don't include installation information.

@jlind23 @jen-huang This problem encompasses more than docs (includes UI and download pags). Who can I follow up with about this?

[2022-03-09 17:51] jen-huang commented on #1630
This was changed as part of https://github.com/elastic/kibana/issues/102491. It would be nice if the [full download page] accepted a parameter (or similar), that way we can link to the right version with instructions. This sounds like request to the Web Team: https://github.com/elastic/website-requests

[2022-03-09 18:29] #1470 closed

[2022-03-10 06:35] bmorelli25 opened #1662 "[CL] Improve integration documentation"
### Get started

- [ ] Install [`elastic-package`](https://github.com/elastic/elastic-package). You may need to [install it with Go](https://www.elastic.co/guide/en/integrations-developer/current/elastic-package.html).
- [ ] Checkout the [elastic/integrations](https://github.com/elastic/integrations) repository
- [ ] `cd` into a package in the integrations repo and [build your first package](https

[2022-03-10 09:03] shahzad31 opened #1663 "[Request] Add docs for uptime/apm/ux inspector panel"
## Description

We have an inspect panel in uptime/apm/ux apps, this can be used to trouble shoot queries being run on page and is really helpful in troubleshooting problems.

We should document it's use case. So that customer can also find it and use it.

To enable the panel, you have to turn inspect queries flag under observability in kibana advanced settings

<img width="1535" alt="image" src="

[2022-03-10 10:20] ruflin commented on #1474
It seems there are 2 discussions here:
* Document the docker(-compose) setup
* Document an easy way for a dev setup

For the second one, could we use `elastic-package` for this purpose?

[2022-03-10 10:25] amolnater-qasource opened #1664 "[Bug]: Note to create policy is completely removed."
**Description:**
As per https://github.com/elastic/observability-docs/issues/1489 it is expected that Note under: https://www.elastic.co/guide/en/fleet/8.0/fleet-agent-proxy-support.html#cli-proxy-settings should be updated to - Create agent policies. However it is completely removed for 8.1 docs.

**Link:**
- https://www.elastic.co/guide/en/fleet/8.1/fleet-agent-proxy-support.html#cli-proxy-setti

[2022-03-10 10:26] amolnater-qasource commented on #1664
@manishgupta-qasource Please review.

[2022-03-10 10:27] manishgupta-qasource commented on #1664
Secondary review for this ticket is Done

[2022-03-10 11:38] amolnater-qasource commented on #1489
Hi @jen-huang
We have revalidated the docs for this ticket and our observations are shared below:
1. https://www.elastic.co/guide/en/fleet/current/add-a-fleet-server.html

- Self managed tab is updated
- Step to create Fleet Server policy is available.
- Screenshot is updated.

2. https://www.elastic.co/guide/en/fleet/current/install-fleet-managed-elastic-agent.html

- Under Installation steps: St

[2022-03-10 18:04] jen-huang commented on #1664
This is not an issue; that message is expected to be removed as it is no longer accurate (we no longer create default policies when user visits Fleet).

[2022-03-10 18:04] #1664 closed

[2022-03-10 22:50] #1649 closed

[2022-03-11 04:42] dikshachauhan-qasource commented on #1488
Hi @jen-huang

We have validated the related links for the docs changes and our observations are shared below:
1. https://www.elastic.co/guide/en/fleet/current/install-fleet-managed-elastic-agent.html

- Changes reflected properly under Privileges section :
"Kibana user with All privileges on Fleet and Integrations. Since many Integrations assets are shared across spaces, users need the Kibana pri

[2022-03-14 05:40] axw commented on #1474
I don't think so. Users want to be able to easily run the Observability solution alongside their application, so I don't think it's practical to push elastic-package.

We need to find a way to better fit into existing, popular, developer tools. Otherwise I expect we'll see more of this: https://twitter.com/theshalvah/status/1501602601208619013

[2022-03-14 18:21] jen-huang commented on #1630
FYI we are also doing a redesign of the Add Agent fly out, it will remove the link to the download page in favor of a single cURL command: https://github.com/elastic/kibana/issues/125534

[2022-03-14 18:47] dedemorton commented on #1488
I'm not sure why item 3 is on this list. We do not document Fleet in the Beats documentation. The other links look right. thanks.

[2022-03-14 19:09] DanRoscigno commented on #1630
Thanks @jen-huang , I will add a comment in the design issue also, but we need more than just a curl I would say. Also an extract.  It will be so wonderful to keep the reader in Kibana during the download, extract, install, enroll!!

[2022-03-14 19:56] ravikesarwani opened #1672 "AWS focused documentation improvement"
## Problem

AWS is the largest cloud provider by any means. We as a company are focused on Cloud and many of our largest customers are also running their workloads in AWS. While we have many ways of data ingestion, there’s no single landing documentation page to drive the data ingestion experience for the AWS observability (& security - logs for SEIM) customers.

Currently we have many ways to ing

[2022-03-14 20:09] colleenmcginnis commented on #907
👋  @paulb-elastic is this a good time for me to start working on this issue or should I wait per https://github.com/elastic/synthetics/issues/286#issuecomment-1033949373?

[2022-03-15 10:24] joshdover opened #1676 "[Request] Improve docs for self-managed HTTPS configuration for Fleet and Elastic Agent"
## Description

A few improvements that came out of a [recent SDH](https://github.com/elastic/sdh-beats/issues/1802#issuecomment-1067499858) to help customers configure Elastic Agent and Fleet Server in a self-managed environment using self-signed certificates:
- Add a section to [ES basic security doc](https://www.elastic.co/guide/en/elasticsearch/reference/master/security-basic-setup-https.html#

[2022-03-15 11:21] paulb-elastic commented on #907
@colleenmcginnis yes, I'd suggest holding off for now, as we need to prioritise the work to simplify the ILM policy piece (we’ve made progress with a good level of detail in https://github.com/elastic/uptime/issues/453#issuecomment-1066848173 but this capability isn’t quite available yet, which will make it much easier to use, and set specific policies for each data type).

[2022-03-15 18:52] jen-huang commented on #1489
@dedemorton Good point, it should.

[2022-03-15 18:56] dedemorton commented on #1489
OK, I'll open a PR today. Thanks!

[2022-03-16 09:12] amolnater-qasource commented on #1489
Hi Team
We have created **02** testcases for doc: https://www.elastic.co/guide/en/fleet/current/create-a-policy-no-ui.html#use-preconfiguration-to-create-policy in our Fleet Test Suite at link:
- [C165879](https://elastic.testrail.io/index.php?/cases/view/165879)
- [C165880](https://elastic.testrail.io/index.php?/cases/view/165880)

Thanks

[2022-03-16 18:22] mostlyjason opened #1681 "[Request] Improve Fleet preconfig docs"
## Description

*(Describe what needs to be documented. Link to relevant issues.)*

The [existing docs](https://www.elastic.co/guide/en/kibana/master/fleet-settings-kb.html) for Fleet preconfig don't do a good job of explaining the intended behavior. We should better describe what changes are made in the case that `is_managed` is true or false, when the user adds, edits, or deletes resources.

We

[2022-03-17 15:41] #1413 closed

[2022-03-17 22:03] dedemorton opened #1689 "[Request] Add release notes for Fleet and Elastic Agent 8.1.1"
## Description

Add release notes for upcoming release.

## Collaboration

- The docs team will lead producing the content

## Suggested Target Release

8.1.1

[2022-03-18 12:31] ollyhowell commented on #1672
Thanks @ravikesarwani

[2022-03-18 13:45] nchaulet opened #1691 "[Request] Document how to use logstash in Fleet managed mode"
## Description

To use logstash in Fleet the user will have to generate a bunch of certificate for mutual TLS, we should document how to do so similar to https://www.elastic.co/guide/en/beats/filebeat/current/configuring-ssl-logstash.html

The documentation will be linked from here in the Fleet UI

<img width="500" alt="Screen Shot 2022-03-18 at 9 43 10 AM" src="https://user-images.githubuserconte

[2022-03-18 19:05] bmorelli25 opened #1692 "[Request] APM Service groups"
## Description

* Document https://github.com/elastic/kibana/pull/123998
* Docs should exist at https://www.elastic.co/guide/en/kibana/current/services.html

Related: https://github.com/elastic/kibana/issues/125209

## Collaboration
*(Choose the expected collaboration model and delete the others.)*

- The docs team will lead producing the content

*(Assign a contact person for this issue. We need

[2022-03-18 19:11] bmorelli25 commented on #1500
@cyrille-leclerc ping me when the blog post is ready and I'll turn it into documentation.

[2022-03-20 22:18] cyrille-leclerc commented on #1500
Hello @bmorelli25 , no ETA yet.

[2022-03-21 08:18] jlind23 commented on #1444
Backlog grooming - @ollyhowell @nimarezainia What should we do with this issue?

[2022-03-21 11:50] #987 closed

[2022-03-21 18:07] colleenmcginnis commented on #1096
#1671 updates docs related to parts of the UI that have already been updated to use "data views".

Not all parts of the Observability UI have switched from "index patterns" to "data views" yet. We should continue to track:

- [ ] https://github.com/elastic/kibana/issues/125498 for updates to Observability's **Metrics** > **Settings** > **Indices** > **Metric indices**
- [ ] https://github.com/elas

[2022-03-21 18:35] #1689 closed

[2022-03-21 20:03] jen-huang opened #1703 "[Request][Fleet] Adjust documentation to include info about bundled packages"
## Description

Related to effort in https://github.com/elastic/kibana/issues/112095

We need docs for:
- Improving info about preconfiguration, make it a top-level docs section (if it isn't already)
- Add information about bundled packages within preconfiguration section
- Add to existing documentation on air-gapped environments about how bundled packages relate to that exprience

## Collaboratio

[2022-03-22 11:18] joshdover commented on #1703
I think we were going to cover this as part of https://github.com/elastic/observability-docs/issues/1603, @kpollich was that your thinking too?

[2022-03-22 12:40] vinaychandrasekhar opened #1705 "Add doc for Alert Reason message and View In App URL rule variable support in alert actions"
## Description

Alert Reason message and View In App URL rule variables are now supported in alert actions. Need to add doc for those variables.

https://github.com/elastic/kibana/issues/119090

## Collaboration
- The product team will provide the initial content and the docs team will edit / review

**Contact Person:**
@fkanout

## Suggested Target Release
8.2 (Please check with @fkanout on the f

[2022-03-22 12:40] kpollich commented on #1703
@joshdover Generally, yes. @jen-huang mentioned documenting preconfiguration in detail with this issue though, which the other issue doesn't cover. We could probably combine these.

[2022-03-22 12:45] vinaychandrasekhar opened #1706 "Add documentation for new dedicated rules management page for Observability alerting rules"
## Description

A new dedicated rules management page for Observability alerting rules will be made available. This view and workflows will need to be documented.

https://github.com/elastic/kibana/issues/119100

## Collaboration
- The docs team will lead producing the content, in close collaboration with the product team

**Contact Person:**
@mgiota

## Suggested Target Release
8.2 (please check

[2022-03-22 12:57] AlexanderWert opened #1707 "[Request] Revamp documentation for APM on AWS Lambda"
## Description
Our current documentation on the experimental / beta support for AWS Lambda in APM is a bit confusing and lacks clear quick start guides.

## Collaboration
*(Choose the expected collaboration model and delete the others.)*

- The product team will provide the initial content and the docs team will edit / review

*(Assign a contact person for this issue. We need to have a contact per

[2022-03-22 13:53] mgiota commented on #1706
In which format will you provide us the newly generated documentation link?

The old link is defined in the code like this `docLinks.links.alerting.guide` and this gets eventually translated into https://www.elastic.co/guide/en/kibana/master/create-and-manage-rules.html. I am asking, because I want to know if we need to implement something on our side.

[2022-03-22 19:12] bmorelli25 opened #1708 "Broken APM app links"
#### Custom links

Link to docs doesn't exist

<img width="1506" alt="Screen Shot 2022-03-22 at 10 36 12 AM" src="https://user-images.githubusercontent.com/5618806/159541583-1277dbdf-6217-4cc2-ba9b-02530f05d29c.png">

#### Schema

Learn more about Elastic Agent is a 404

<img width="1504" alt="Screen Shot 2022-03-22 at 10 36 42 AM" src="https://user-images.githubusercontent.com/5618806/159541740-6

[2022-03-22 20:06] ravikesarwani commented on #1672
@ollyhowell Have you given some thoughts on the next steps and how/when we can start to collaborate on this?

[2022-03-23 21:29] #1611 closed

[2022-03-24 17:54] ollyhowell commented on #1672
Hi @ravikesarwani sorry, nothing concrete yet but we're thinking about placement within guide and will get in touch with you next week - still working thru some 8.0 and 8.1 issues that are not closed yet so bandwidth is limited. Hopefully we can get the ball rolling for 8.2 with a small update though...let's discuss.

[2022-03-24 18:04] bmorelli25 commented on #1651
This is done.

[2022-03-24 18:04] #1651 closed

[2022-03-24 18:43] nimarezainia commented on #1691
@dedemorton I don't see this on the docs project board. I wanted to make sure that we are prioritizing Logstash support in 8.2 as it's a highly sought after feature.

Also it needs to be marked Beta. I will follow up with an email on the details. thx

[2022-03-24 22:07] bmorelli25 commented on #1707
An outline of the plan is in Alex's PR: https://github.com/elastic/apm-aws-lambda/pull/158#issuecomment-1078409137

**Potential cross-doc link issues:**

* [Node.js](https://www.elastic.co/guide/en/apm/agent/nodejs/current/lambda.html) — No current asciidoctor links. Links to aws-lambda repo need to be updated to point to asciidoc content.
* [Java](https://www.elastic.co/guide/en/apm/agent/java/cu

[2022-03-28 15:26] emma-raffenne commented on #1706
@mgiota
First we need to write the documentation, once we have it, we will get the link to be updated in the code.

[2022-03-28 18:15] bmorelli25 commented on #1663
I can see this living under a new top-level heading. It would be a great addition to a troubleshooting topic—if this book had one already.

[2022-03-29 11:57] ollyhowell commented on #1663
Some interesting parallels with the Explore Data feature (also on the top right toolbar and applies to various but not all apps) which is also a little odd at the top level - we could perhaps combine them into some kind of 'exploring/inspecting data' type bucket.

I think we need to consider this item within a mini-iteration of the current Observability Guide top-level headings...adding an item to

[2022-03-29 18:48] colleenmcginnis opened #1726 "[Request] Add info on all Elastic Synthetics "Advanced Browser options""
Follow up from #1720

## Description

We should add information on other Advanced Browser options in the Elastic Synthetics integration.

## Collaboration

The docs team will lead producing the content

**Contact Person:** @paulb-elastic

## Suggested Target Release

@paulb-elastic in which release was this introduced?

[2022-03-29 18:48] colleenmcginnis opened #1727 "[Request] Add info on Elastic Synthetics "Inline Script" option to quickstart"
Follow up from #1720
May be impacted by #1725

## Description

## Collaboration

The docs team will lead producing the content

**Contact Person:** @paulb-elastic

## Suggested Target Release

@paulb-elastic in which release was this introduced?

[2022-03-29 18:51] #1411 closed

[2022-03-29 21:59] colleenmcginnis commented on #1478
@vinaychandrasekhar I couldn't find any references to specific alert messages in the [Alerting](https://www.elastic.co/guide/en/observability/current/create-alerts.html) docs except for the screenshot that is already being updated in https://github.com/elastic/observability-docs/pull/1723.

Are there other references I'm missing that you'd expect to be updated?

[2022-03-29 22:04] colleenmcginnis commented on #1479
[Looks like](https://github.com/elastic/kibana/issues/96568#event-6155921151) this is moving to 8.3+.

[2022-03-29 22:08] vinaychandrasekhar commented on #1478
None that I can recollect @colleenmcginnis

[2022-03-29 22:09] vinaychandrasekhar commented on #1479
Yes, that moved out to a future release

[2022-03-30 11:05] #1066 closed

[2022-03-30 11:12] joshdover opened #1729 "[Request] Fleet integrations index template structure"
## Description

Fleet installs index templates for integration data streams in a specific structure, one that has changed over several releases and we have future changes planned. We should have this structure documented for each version to help users know what each template is for and which are editable by the user. This related to, but an extension of https://github.com/elastic/observability-doc

[2022-03-30 13:47] hop-dev commented on #1729
I have created a dev doc in the meantime covering some of this.

https://github.com/elastic/kibana/pull/128896

[2022-03-30 17:02] mostlyjason commented on #875
Yes I think we can close this one

[2022-03-30 17:14] paulb-elastic commented on #1727
The _Inline script_ option has been there since real browser types were added to the integration, which was 7.15 (https://github.com/elastic/kibana/pull/102928)

[2022-03-30 17:24] #1414 closed

[2022-03-30 17:24] #1478 closed

[2022-03-31 15:25] #1703 closed

[2022-04-01 08:40] narph opened #1743 "[Request] Adjust any kubernetes template links to new `elastic-agent` repo"
## Description

We've recently added new repo `elastic-agent` and we moved
https://github.com/elastic/beats/tree/main/deploy/kubernetes/elastic-agent-managed
https://github.com/elastic/beats/tree/main/deploy/kubernetes/elastic-agent-standalone

to the new repo:
https://github.com/elastic/elastic-agent/tree/main/deploy/kubernetes

There might be some docs that are linking to these templates in the

[2022-04-01 13:54] simitt commented on #1500
@cyrille-leclerc should this be planned for the `8.2` release time frame or be moved to `8.3` docs?

[2022-04-01 17:33] dedemorton commented on #1743
I'll take care of this. I thought we updated all the references, but must have missed these. :-(

[2022-04-01 20:27] colleenmcginnis commented on #1416
Is this a duplicate of https://github.com/elastic/observability-docs/issues/1310?

[2022-04-01 20:52] colleenmcginnis commented on #1310
@mgiota should information on this new flag replace the content at the beginning of [View Alerts](https://www.elastic.co/guide/en/observability/current/view-observability-alerts.html)?

<img width="787" alt="image" src="https://user-images.githubusercontent.com/10479155/161339677-04a781ee-b888-401c-b5fe-f38b1cf8a470.png">

[2022-04-01 21:20] colleenmcginnis commented on #1417
Do these need to be specifically mentioned in the documentation or just reflected in relevant screenshots?

[2022-04-02 21:49] vinaychandrasekhar commented on #1417
@colleenmcginnis reflected in relevant screenshots.

[2022-04-04 19:07] #1324 closed

[2022-04-04 19:28] #1415 closed

[2022-04-05 10:21] hop-dev commented on #1578
Closing as https://github.com/elastic/observability-docs/pull/1724 now merged

[2022-04-05 10:21] #1578 closed

[2022-04-05 10:56] paulb-elastic commented on #907
Updating with the implementation issue for the additional capability: https://github.com/elastic/uptime/issues/462
(not worth updating the docs until this is merged)

[2022-04-05 13:48] ollyhowell opened #1759 "Provide better Data Ingestion overview for 8.2"

[2022-04-05 16:31] #1707 closed

[2022-04-05 18:37] #1726 closed

[2022-04-05 18:54] colleenmcginnis commented on #1705
Duplicate of https://github.com/elastic/observability-docs/issues/1480?

[2022-04-05 19:58] colleenmcginnis commented on #1705
Thanks for confirming @vinaychandrasekhar. I'm going to close here and we can track progress in #1480 (where I've updated the version tag). I also updated https://github.com/elastic/observability-dev/issues/2029#issuecomment-1075133906 for tracking purposes.

[2022-04-05 19:58] #1705 closed

[2022-04-06 01:59] dedemorton opened #1767 "[Request] Edit text strings for new add logstash output UI"
## Description

* The new UI in FLeet for adding a logstash output doesn't conform to EUI writing guidelines.

## Collaboration

- The docs team will lead producing the content

**Contact Person:**

## Suggested Target Release

8.2

[2022-04-06 10:04] cyrille-leclerc opened #1768 "Google search for "Elastic OpenTelemetry" returns the outdated 7.15 doc that doesn't help to find the new docs"
## Description

Google search for "Elastic OpenTelemetry" returns the outdated 7.15 doc that doesn't help to find the new Elastic OpenTelemetry Docs

![image](https://user-images.githubusercontent.com/459691/161950638-12eb4956-eec3-48c0-81b8-af0755a37e35.png)

![image](https://user-images.githubusercontent.com/459691/161950103-78dccdad-8246-4066-8db7-ab40782e935f.png)

![image](https://user-images

[2022-04-06 15:49] colleenmcginnis commented on #1310
@vinaychandrasekhar can you help with the question above?

[2022-04-06 16:07] vinaychandrasekhar commented on #1310
@mgiota would be the right person to answer the query. @mgiota thoughts please when you get a chance?

[2022-04-06 17:40] dedemorton opened #1771 "[Request] Edit UI text strings in the Add agent flyout"
## Description

We need to edit the UI text strings added for https://github.com/elastic/kibana/issues/125534

## Collaboration

- The docs team will lead producing the content

## Suggested Target Release

8.3

[2022-04-06 17:44] #1743 closed

[2022-04-06 17:54] #1727 closed

[2022-04-06 19:08] bmorelli25 commented on #920
This is done.

[2022-04-06 19:08] #920 closed

[2022-04-07 06:34] mgiota commented on #1706
@emma-raffenne Let me know if product team needs help from me regarding content generation.

[2022-04-07 20:28] colleenmcginnis commented on #1416
Closing in favor of #1310. Please re-open if this is not a duplicate.

[2022-04-07 20:28] #1416 closed

[2022-04-11 16:21] Turkeyboats commented on #1556
Can we expect elastic-agent to work in persistent and  non-persistent VDI environments?

[2022-04-11 20:14] colleenmcginnis commented on #1417
Relevant screenshots were updated in https://github.com/elastic/observability-docs/pull/1723. If you notice any other screenshots that need to be changed, feel free to reopen!

[2022-04-11 20:14] #1417 closed

[2022-04-12 09:10] mgiota commented on #1416
@colleenmcginnis Yep it looks like a duplicate.

[2022-04-12 15:02] nchaulet commented on #1691
The instructions QA team created to test  the logstash feature it could probably help on what we need to document

[code]

[2022-04-12 19:46] #1706 closed

[2022-04-12 22:30] bmorelli25 opened #1784 "test issue"
ignore me

[2022-04-12 22:56] bmorelli25 commented on #1784
OOOOOOOOOO IT WORKED

[2022-04-13 20:24] #1663 closed

[2022-04-14 09:38] joshdover commented on #1691
@nchaulet As you indicated above, the designs of this project intended that the "View Documentation" button in the Logstash output UI would direct the user to a page that would help them configure the SSL certificates. In testing it's been clear that this is pretty necessary for users to be successful with this feature.

If this doc doesn't get published before 8.2.0 is released, it'd be nice for

[2022-04-14 10:50] ollyhowell opened #1791 "[Request] Document per policy outputs for Fleet"
## Description

https://github.com/elastic/kibana/pull/126692

## Collaboration
*(Choose the expected collaboration model and delete the others.)*

- The docs team will lead producing the content
- The product team will provide the initial content and the docs team will edit / review
- The docs team will define with product team the structure and location, and the product team will provide the ini

[2022-04-14 10:57] ollyhowell opened #1792 "[Request] Document Agent Install Flyout"
## Description

https://github.com/elastic/kibana/issues/125534

The steps have been streamlined after this redesign. I think most work is around updating existing docs and screenshots.

## Collaboration

- The docs team will lead producing the content
- The product team will provide the initial content and the docs team will edit / review
- The docs team will define with product team the structur

[2022-04-14 13:38] kpollich commented on #1691
Pasting my notes from the last few days of setting up a test environment for Logstash output in 8.2.0. As you can probably tell, this is a very involved process. Some key friction points for me:

- The actual cert generation process. Took a few tries to actually generate the proper certs in the formats Elasticsearch and Logstash were expecting
- Communication between local services and Dockerized

[2022-04-14 17:19] nchaulet commented on #1691
Could we use a shortlink specialy for 8.2 and replace it with a docLink for 8.3? I planned some time next week with @dedemorton to see how I can help building the doc here

[2022-04-14 20:18] bmorelli25 opened #1793 "Redirect legacy APM documentation"
### Summary

Redirect:

| old  | new  |
|----|----|
| elastic.co/guide/en/apm/server/current/*.html          | elastic.co/guide/en/apm/guide/current/**{relevant-page}** |
| elastic.co/guide/en/apm/get-started/current/*.html     | elastic.co/guide/en/apm/guide/current/**{relevant-page}** |
| elastic.co/guide/en/apm/server/current/index.html      | elastic.co/guide/en/apm/server/7.15/index.html (add

[2022-04-15 20:31] bmorelli25 commented on #1793
Opened https://github.com/elastic/website-requests/issues/479 (internal link) to address this.

[2022-04-18 17:06] #1784 closed

[2022-04-18 19:37] dedemorton commented on #1691
I've opened this PR to set up a URL for the Logstash certs docs: https://github.com/elastic/observability-docs/pull/1795

The URL will be https://www.elastic.co/guide/en/fleet/<branch>/secure-logstash-connections.html

The location of the topic in the TOC is TBD, but the URL won't change.

[2022-04-19 00:56] dedemorton commented on #1492
Removing the quick fix label because as I look more closely at the updates here, I think we need more discussion around terminology. Even within the Elastic Agent and Fleet docs, we're not consistent wrt how we talk about integrations, integration policies, and agent policies. See:

https://www.elastic.co/guide/en/fleet/current/integrations.html
https://www.elastic.co/guide/en/fleet/current/agent-

[2022-04-19 14:23] #1480 closed

[2022-04-19 16:48] bmorelli25 commented on #1768
This has been fixed. Thanks!

[2022-04-19 16:49] bmorelli25 commented on #1793
Fixed.

[2022-04-19 16:49] #1793 closed

[2022-04-19 16:56] dedemorton opened #1799 "[Request] Review error messages and doc links in Fleet UI"
## Description

There were a couple issues I noticed with Fleet UI text and doc links when I worked on https://github.com/elastic/kibana/pull/129551:

- [ ] There are quite a few places in the Fleet UI where we use really generic links. I want to go through the UI at some point, evaluate the links, and identify any content gaps that are causing us to create awkward links.
 - [ ] Edit validation er

[2022-04-20 07:56] cyrille-leclerc commented on #1768
Many thanks, redirection works on my incognito browser!

[2022-04-20 14:58] colleenmcginnis commented on #1111
I _think_ this was sufficiently addressed #1725 (see [Set up monitors](https://www.elastic.co/guide/en/observability/current/uptime-set-up.html)). I'm going to close here, but feel free to reopen if I missed something!

[2022-04-20 14:58] #1111 closed

[2022-04-20 16:40] #1310 closed

[2022-04-20 20:20] bradquarry opened #1804 "Provide more direct links from APM documentation to differentiating features in Kibana APM documentation."
## Description

*(Describe what needs to be documented. Link to relevant issues.)*

I am a pre-sales solution architect and always looking through the docs around how to differentiate our solutions in the marketplace. I often point customers to our documentation to learn about differentiated features. I think there is an opportunity to provide more links for the differentiating features listed her

[2022-04-21 13:23] richardgilm commented on #1691
Should we expect an updated table of Supported Outputs for Fleet-managed Elastic Agent, marking Logstash as (in beta)?
https://www.elastic.co/guide/en/fleet/8.2/beats-agent-comparison.html#supported-outputs-beats-and-agent

[2022-04-21 17:57] jen-huang opened #1805 "[Request] Fleet known issue in 8.2.0 with legacy component templates"
## Description

Need to document a known issue where on upgrading existing packages, users will have legacy `@settings` and `@mappings` component templates left behind: https://github.com/elastic/kibana/issues/129662. These are deprecated in favor of the new `@package` component template. They don't cause any issues and can be manually deleted if the user wishes.

The next 8.2 patch will contain a

[2022-04-21 22:23] colleenmcginnis opened #1806 "[Request] Update Observability overview page"
## Description

The Observability **Overview** page is changing in 8.2. We should update screenshots and references to the UI text in the [Observability overview page](https://www.elastic.co/guide/en/observability/current/observability-ui.html).

## Collaboration

The docs team will lead producing the content.

## Suggested Target Release

8.2.0

## Stakeholders

?

[2022-04-22 02:31] dedemorton commented on #1691
@richardgilm Yup. Either I will update or @nimarezainia. Thanks!

[2022-04-22 09:02] #1652 closed

[2022-04-26 00:10] #1805 closed

[2022-04-26 00:36] dedemorton opened #1816 "[Request] Add Fleet and Elastic Agent release notes for 7.17.4"
## Description

Add release notes for Fleet and Elastic Agent in 7.17.4

## Collaboration

- The docs team will lead producing the content

## Suggested Target Release

7.17.4

[2022-04-26 09:19] cyrille-leclerc commented on #1768
I'm sorry, there is a step back, the Google result for "Elastic OpenTelemetry" is now an old OpenTracing page

<img width="1273" alt="image" src="https://user-images.githubusercontent.com/459691/165267231-db64a46d-91d9-444f-a3f9-83470b968ced.png">

[2022-04-26 09:20] #1768 closed

[2022-04-26 09:20] cyrille-leclerc commented on #1768
please ignore my re opening, it was a wrong test. Everything is good

[2022-04-26 13:29] mtojek opened #1861 "package-spec: support multiple package types"
With recent changes in the [package-spec](https://github.com/elastic/package-spec/pull/323), we're planning to extend it with [another package type](https://github.com/elastic/package-spec/issues/319). With this [PR](https://github.com/elastic/observability-docs/pull/1818) I hardcoded to the current type we support, integration, but we need to prepare the room for potentially more types.

[2022-04-26 14:26] narph opened #1819 "[Request] Add tags to the elastic agent/fleet documentation"
## Description

*(Describe what needs to be documented. Link to relevant issues.)*

We are introducing tagging for the elastic agent: related issue on the elastic agent/fleet server side are:

https://github.com/elastic/elastic-agent/issues/149
https://github.com/elastic/fleet-server/pull/1350
https://github.com/elastic/elastic-agent/pull/336

Changes:

Add tag flag https://www.elastic.co/guide/en

[2022-04-26 18:05] bmorelli25 commented on #1019
@mostlyjason Did you use telemetry data to determine the top five integrations? If so, can you share a link to your query/visualization? I'm struggling to find the right fields in the telemetry cluster.

[2022-04-26 22:08] #1691 closed

[2022-04-26 22:14] dedemorton opened #1822 "[Request] Update Beats capabilities page for 8.2.0"
## Description

Update https://www.elastic.co/guide/en/fleet/8.2/beats-agent-comparison.html for 8.2.

At the very least, we need to:

* Indicate that Logstash is now available (beta) as an output for Fleet-managed agents.
* Update the screenshot that shows the default policy (the default policy was removed).

## Collaboration

- The product team will provide the initial content and the docs team

[2022-04-26 22:16] dedemorton commented on #1822
@nimarezainia I created an issue to track changes to the capabilities page. I can certainly make the changes described here, but I think you mentioned you want to make other changes. Let me know where you're at with these updates and whether you need help. Thanks!

[2022-04-26 23:45] #1791 closed

[2022-04-27 00:46] dedemorton commented on #1431
We missed the timeframe for making these updates (we're no longer updating 7.16), so I'm closing this in favor of working on changes in the latest version.

[2022-04-27 00:46] #1431 closed

[2022-04-27 00:48] dedemorton commented on #1497
Moving the state here to in-progress because it makes sense to make these changes while I'm making related updates in https://github.com/elastic/observability-docs/issues/1792.

[2022-04-27 00:50] dedemorton commented on #1275
Moving the state here to in-progress because it makes sense to make these changes while I'm making related updates in https://github.com/elastic/observability-docs/issues/1792.

[2022-04-27 00:56] DanRoscigno commented on #1497
@dedemorton this one is updated for the new Agent workflow in Kibana:
https://github.com/elastic/tech-content/pull/124

I really like the new workflow, it is so much nicer to stay in Kibana while doing this.

[2022-04-27 00:59] dedemorton commented on #1497
@DanRoscigno Yup, saw that! I hope we can converge on one source of truth at some point so we aren't updating similar content in multiple places, but we aren't ready for that yet unfortunately.

[2022-04-27 08:09] jlind23 commented on #1636
@elastic/obs-docs Can we get your eyes on this please?

[2022-04-29 01:19] dedemorton commented on #1497
Most of this is done in https://github.com/elastic/observability-docs/pull/1824

What's not done, I'm gonna defer because the new onboarding docs provide a good quick path for cloud users, so maybe it's OK to keep the self-managed info here (at least until we have a clearer strategy on how we want to cover self-managed).

[2022-04-29 01:19] #1497 closed

[2022-04-29 01:27] dedemorton commented on #1275
Closed in https://github.com/elastic/observability-docs/pull/1824.

Some of the prereqs don't need to be listed when using Fleet because the tool does some stuff for you.

[2022-04-29 01:27] #1275 closed

[2022-04-29 22:12] #1792 closed

[2022-04-29 23:11] dedemorton commented on #1071
Closing because the obs docs now have content about ingesting with Elastic Agent.

We still have more work to do, but we should create issues about specific changes rather than keeping this old one open.

[2022-04-29 23:11] #1071 closed

[2022-04-29 23:15] dedemorton commented on #1234
Closing because we fixed this awhile ago. I guess we forgot to close it.

[2022-04-29 23:15] #1234 closed

[2022-05-02 15:20] #1806 closed

[2022-05-02 17:33] colleenmcginnis opened #1836 "[Request] Test self-managed settings in ingest data's prerequisites section"
## Description

In https://github.com/elastic/observability-docs/pull/1824#discussion_r861947293, @dedemorton suggested that we test the self-managed recommendations in the [Ingest logs, metrics, and uptime data with Elastic Agent > Prerequisites](https://www.elastic.co/guide/en/observability/master/ingest-logs-metrics-uptime.html) section to see which are still valid when users run security by de

[2022-05-02 18:54] chrisdistasio opened #1838 "Update Stack Management -> Kibana Adv Settings -> O11Y"
## Description

Kibana Advanced Settings for Observability is out of date - https://www.elastic.co/guide/en/kibana/master/advanced-options.html

Please add:

observability:apmServiceInventoryOptimizedSorting
[technical preview] When enabled, sets the default sort APM Service Inventory page (for Services without Anomaly Detection rules) to sort by Service Name

observability:enableComparisonByDefau

[2022-05-02 19:08] chrisdistasio opened #1839 "APM UI Support for Kibana Spaces"
Note: detail below is same as provided "What's new" text.

## Description

You can now configure APM UI indices in the context of Kibana spaces. This enables you to segment APM-related data to leverage Kibana spaces for access controls and UI performance improvements.

![image](https://user-images.githubusercontent.com/93936213/166309515-b3cc74c1-c65b-4420-87ba-72c6394a4058.png)

https://github.co

[2022-05-02 19:14] chrisdistasio opened #1840 "APM Service Groups [Technical Preview]"
Note: detail below is a very slight modification of provided "What's new" text.

## Description

APM Service groups provide a simple way to curate services into groups. Group services together to build meaningful views that remove noise and simplify investigations across services. Groups are Kibana space-specific and available for any users with appropriate access.

You can create Service groups w

[2022-05-02 19:31] #1822 closed

[2022-05-02 19:32] dedemorton opened #1843 "[Request] Update docs for Add Fleet Server Flyout Redesign"
## Description

Docs about [adding a Fleet Server](https://www.elastic.co/guide/en/fleet/current/add-a-fleet-server.html) need to be updated to reflect UI changes in 8.3.

Related issue: https://github.com/elastic/kibana/issues/125640

## Collaboration

- The docs team will lead producing the content

## Suggested Target Release

8.3

[2022-05-02 21:25] hp0620 opened #1844 "Private Repository Set up instruction is not clear whether flat repository is allowed or not for the Fleet Server setup"
## Description

Per the documentation guide - https://www.elastic.co/guide/en/fleet/current/air-gapped.html#air-gapped-diy-epr - the private repository can be set up for an air-gapped environment so the packages can be downloaded upon fleet server setup.

However, this line of instruction

makes the users interpret that setting up a private repository like jfrog or any other flat server repository

[2022-05-02 21:56] bmorelli25 opened #1845 "Update APM quick start steps"
As a follow-up to https://github.com/elastic/observability-docs/pull/1834, we should update the APM quick start steps as necessary.

[2022-05-02 23:33] dedemorton commented on #1059
We will track future improvements in a new meta issue. This one is getting old and stale.

[2022-05-02 23:33] #1059 closed

[2022-05-02 23:40] dedemorton commented on #1630
Closing because the download pages now include instructions, and version 8.2 and later includes the full cURL needed to download, extract, and install Elastic Agent.

[2022-05-02 23:40] #1630 closed

[2022-05-03 00:24] dedemorton commented on #1290
Fixed in https://github.com/elastic/observability-docs/pull/1841.

Sorry we didn't get to this ahead of you. (It got a bit lost in the move to a new project board.)

[2022-05-03 00:24] #1290 closed

[2022-05-03 00:27] dedemorton commented on #1568
Duplicate of https://github.com/elastic/observability-docs/issues/1569.

We've fixed this in 8.1, but I'll keep 1569 open in case we want to fix this in 8.0, too.

[2022-05-03 00:27] #1568 closed

[2022-05-03 06:58] jlind23 commented on #1636
@ollyhowell any chance you take a look at it?

[2022-05-03 17:22] bmorelli25 commented on #952
This is done.

[2022-05-03 17:22] #952 closed

[2022-05-03 17:30] #1063 closed

[2022-05-03 17:50] #1628 closed

[2022-05-03 19:18] bmorelli25 opened #1848 "[meta] Automate integration documentation"
## Problem

This issue explores two problems:

1. Integration `readme.mdx` files need to move out of [elastic/wordlake](https://github.com/elastic/integration-docs/issues/12). The project is maturing and it no longer makes sense to open PRs against a repo that is supposed to only contain published documentation.
3. Our manual integration documentation build process is tedious and lags too far behi

[2022-05-03 22:58] dedemorton commented on #1491
Should we make this a meta issue instead of focusing on the integrations content? After we finalize the terminology around integrations, we need to make changes across the library.

@ollyhowell Do you know if we're close to finalizing the terminology around integrations? The status of the google doc says, "Ready to review." I don't think we should make content updates until we've finalized the dec

[2022-05-04 10:16] amolnater-qasource opened #1850 "[Logstash]: Conflicting output configuration information for `elastic-agent-pipeline.conf` under docs."
**Doc Link:**
https://www.elastic.co/guide/en/fleet/8.2/secure-logstash-connections.html#configure-ls-ssl

**Description:**
Conflicting information for configuration of output under `elastic-agent-pipeline.conf` for Elasticsearch service example.
- It shows that elasticsearch- cloud id is required for the cloud environments.
- However as per Settings>Output>Type: Logstash>View Steps- it shows host

[2022-05-04 10:22] dikshachauhan-qasource commented on #1850
Secondary review is done

[2022-05-04 10:25] amolnater-qasource commented on #1850
FYI @nchaulet

[2022-05-04 10:32] amolnater-qasource commented on #1691
Hi Team
We have validated doc for this feature at links:

[2022-05-04 12:06] amolnater-qasource commented on #1691
Hi Team
We have validated docs for this feature at links:
- https://www.elastic.co/guide/en/fleet/8.2/secure-logstash-connections.html#configure-ls-ssl
- https://www.elastic.co/guide/en/beats/filebeat/current/configuring-ssl-logstash.html

Further we have reported 1 issue for a small conflicting information at link https://github.com/elastic/observability-docs/issues/1850

Hence, marking this as Q

[2022-05-04 16:24] dedemorton commented on #1850
I show cloud_id in the docs example because I thought that was the preferred way to connect to ESS. If that's correct, then I'd argue that this is a product bug rather than a doc bug. (The inline instructions should show cloud_id when Kibana is running on cloud.)

@nchaulet WDYT? Maybe someone on the cloud or logstash dev team should weigh in here. Who should we ask?

[2022-05-04 18:39] dedemorton commented on #78
Closing because this is quite old and the guide content has changed. We can open new issues if there's still something missing.

[2022-05-04 18:39] #78 closed

[2022-05-04 18:46] dedemorton commented on #604
Closing because I've not seen these problems encountered by actual users.

[2022-05-04 18:46] #604 closed

[2022-05-04 18:49] dedemorton commented on #1534
Closed because this appears to have been created by mistake.

[2022-05-04 18:49] #1534 closed

[2022-05-04 18:59] dedemorton commented on #732
I apologize, but this issue got lost in our backlog. Given the maturity of Fleet, I'm not sure whether a redirect still makes sense. WDYT? Can we close this?

[2022-05-04 19:00] dedemorton commented on #974
I think we must have already done this, so closing.

[2022-05-04 19:00] #974 closed

[2022-05-04 19:01] dedemorton commented on #982
Really sorry this got lost in our backlog.

[2022-05-04 19:02] dedemorton commented on #1035
Sorry this got lost in our backlog. Added it to our project board. We'll get it done.

[2022-05-04 19:03] dedemorton commented on #911
Closing because this issue is quite old.

[2022-05-04 19:03] #911 closed

[2022-05-04 19:05] dedemorton commented on #1087
@ollyhowell Can we close this issue now?

[2022-05-04 19:07] dedemorton commented on #876
@bmorelli25 Do you still want to "own" this, or should I?

[2022-05-04 19:16] bmorelli25 commented on #876
Famous last words.

Feel free to take this on 😄

[2022-05-04 20:51] #1708 closed

[2022-05-05 16:54] ollyhowell commented on #1636
Hey @jlind23, sorry for delay looking at this - back online and this potentially seems like a quick fix. Was there any reason with this one that the engineer didn't suggest a change to the docs directly? Is it clear where such a statement would go and then we can do a quick review before publish?

[2022-05-05 17:28] #1323 closed

[2022-05-05 17:29] dedemorton commented on #1569
Most instances of this screen capture are updated, but I noticed we missed on here: https://www.elastic.co/guide/en/fleet/current/fleet-server-scalability.html

[2022-05-06 01:40] dedemorton commented on #954
Closed in #1849

[2022-05-06 01:40] #954 closed

[2022-05-06 01:42] dedemorton commented on #732
I'm going to close for now. Please re-open if you think the request still makes sense.

[2022-05-06 01:42] #732 closed

[2022-05-06 08:21] jlind23 commented on #1636
Hey @ollyhowell sounds good, let me take a stab at it then and i'll link the PR to this issue.

[2022-05-06 22:42] bmorelli25 commented on #1482
This meta issue is mostly complete. There are two unfinished issues:

* https://github.com/elastic/observability-docs/issues/1500 ➡️ **Blocked with no current ETA.**
* https://github.com/elastic/observability-docs/issues/1226 ➡️ **Blocked. See the issue for ETA.**

Since the only remaining issues are blocked, I'm going to close this.

[2022-05-06 22:42] #1482 closed

[2022-05-09 22:21] colleenmcginnis commented on #1019
I'm working on this now! My plan is to open six separate PRs:

- [x] Update System integration docs (https://github.com/elastic/integrations/pull/3306)
- [ ] Update Windows integration docs
- [ ] Update AWS integration docs
- [ ] Update Linux integration docs
- [ ] Update Nginx integration docs
- [ ] Update guidelines for documenting integrations

[2022-05-09 22:30] dedemorton commented on #1471
We won't be updating the screens for 8.0 since 8.2 has already been released. IMO the changes are minor enough that I don't think they will be too confusing.

I do think we should update (or in some cases remove) these screens in 8.2.

[2022-05-10 06:58] #1636 closed

[2022-05-10 07:55] mtojek commented on #1861
We may consider introducing a more sophisticated logic in spec to share common parts of it. We will keep you posted, so far it's a future story ([PR comment](https://github.com/elastic/package-spec/pull/328#issuecomment-1121419591)).

[2022-05-10 08:46] e-parth-pathak opened #1864 "TLS/SSL documentation about ESS fleet-servers in public docs"
### Summary

Add information about how SSL/TLS certificates are managed in ESSs' Fleet server. An example addition would be:

"In ESS, the TLS certificates are managed by Elastic Cloud. There is no explicit need of creating a new Private Key and certificates. Any elastic agent just needs to have the truststore configured on the client side which will be connecting to Elastic Cloud's fleet servers"

[2022-05-10 17:23] bmorelli25 commented on #1202
Hey @joshdover. Is this still required for 7.17?

[2022-05-10 18:30] bmorelli25 commented on #1103
Hey, @EricDavisX 👋. Do you know if internal docs exist or where I can turn to learn more about this manual update process?

[2022-05-10 18:56] dedemorton opened #1865 "[meta] Improve docs about accessing EPR in an air-gapped environment"
## Description

Creating a meta issue to track doc improvements related to accessing the Elastic Package Registry (EPR) from an air-gapped env:

* https://github.com/elastic/observability-docs/issues/1599
* https://github.com/elastic/observability-docs/issues/1312
* https://github.com/elastic/observability-docs/issues/1844

[2022-05-10 21:46] dedemorton commented on #1843
When we're testing these updates, we should also test and update the screen captures in the [topic about monitoring Fleet Server](https://www.elastic.co/guide/en/fleet/8.0/fleet-server-monitoring.html).

[2022-05-11 01:22] dedemorton commented on #1729
I wonder if we can provide some general guidance without documenting a structure we know is changing. Or maybe we should wait until the structure is less volatile.

I assume there's a strong use case that requires users to edit the index templates. The docs should describe why you'd want to edit the index templates and the implications of changing them.

[2022-05-11 09:37] jsvd commented on #1850
`cloud_id` is indeed recommended for cloud environments (not required), and `hosts` can be used as well. I believe this is just a current limitation where the guide doesn't detect that it's running on an Elastic cloud deployment.

We can't default to cloud_id as the cluster may be on prem, but I'm +1 on having this distinction: show `hosts` on prem and `cloud_id` on SaaS (stretch goal: populate th

[2022-05-11 14:21] EricDavisX commented on #1103
I'm out of the loop on what progress Fleet team has made.  can I ask that we pull in @kpollich or @jen-huang (or both) to confirm if we still have any intention on users manually upgrading integrations, and if so, if we want to invest in doc'ing more there or let it ride as is.  I'm not sure if many SDH have come in or requests/problems on it.

[2022-05-11 15:47] dedemorton commented on #1850
Should I transfer this issue to Kibana, or does someone want to create a new issue to track the change that's required here?

[2022-05-11 20:30] bmorelli25 commented on #1692
Closing in favor of https://github.com/elastic/observability-docs/issues/1840.

[2022-05-11 20:30] #1692 closed

[2022-05-11 21:04] nchaulet commented on #1850
@dedemorton Yes please transfer it to Kibana, so we will have all the context

[2022-05-11 21:23] #1471 closed

[2022-05-12 00:29] #1035 closed

[2022-05-12 20:00] bmorelli25 commented on #1848
@colleenmcginnis is working on improving the documentation of our top integrations. As she adds complexity to these docs, her PRs (like https://github.com/elastic/integrations/pull/3308) have shed light on inconsistencies between how Kibana interprets `.md` files and how docsmobile interprets `.mdx` files. These inconsistencies complicate our plan to build `.mdx` files by default.

#### **Links**

[2022-05-12 20:37] bmorelli25 commented on #1019
After the markdown changes are merged into the integrations repository, we'll need to promote the new versions to the production endpoint of the EPR, rerun the doc generation script, and manually trigger a new docsmobile build.

[2022-05-16 07:37] amolnater-qasource opened #1875 "[Fleet]: Old screenshot with no Settings tab on Fleet for self-managed section."
**Description:**
Screenshot needs to be updated with Settings tab on Fleet for self-managed section.
- Screenshots with Fleet Settings should be updated.

**Link:**
https://www.elastic.co/guide/en/observability/8.2/ingest-logs-metrics-uptime.html#set-up-fleet
https://www.elastic.co/guide/en/observability/8.2/ingest-traces.html#set-up-fleet-traces
(Self-Managed sections)

**Screenshot:**
![1](https

[2022-05-16 07:37] amolnater-qasource commented on #1875
@manishgupta-qasource Please review.

[2022-05-16 08:35] manishgupta-qasource commented on #1875
Reviewed & mention to @dedemorton

[2022-05-16 09:38] amolnater-qasource opened #1876 "[Fleet]: Agents tab screenshot not updated for View Agent status page."
**Description:**
Agents tab screenshot needs to be updated for View Agent Status page

**Link:**
https://www.elastic.co/guide/en/fleet/8.2/view-elastic-agent-status.html

**Screenshot:**
![5](https://user-images.githubusercontent.com/77374876/168562298-deccd49a-8559-4f51-bb37-956ec278b434.JPG)

[2022-05-16 10:10] amolnater-qasource opened #1877 "[Fleet]: Navigation from `Elasticsearch service`/`Self-Managed` is not uniform throughout the page."
**Description:**
Navigation from `Elasticsearch service`/`Self-Managed` is not uniform throughout the page.
- If one step is set to self-managed other steps are still stuck at Elasticsearch service and vice versa.

**Link:**
https://www.elastic.co/guide/en/observability/8.2/ingest-logs-metrics-uptime.html#set-up-fleet
https://www.elastic.co/guide/en/observability/8.2/ingest-traces.html#set-up-flee

[2022-05-16 10:11] amolnater-qasource commented on #1876
@manishgupta-qasource Please review.

[2022-05-16 10:11] amolnater-qasource commented on #1877
@manishgupta-qasource Please review.

[2022-05-16 10:52] amolnater-qasource commented on #1471
Hi Team
We have revalidated the docs on above shared links and had below observations:

**Tested Docs:**
1. https://www.elastic.co/guide/en/fleet/8.2/fleet-overview.html
2. https://www.elastic.co/guide/en/observability/8.2/ingest-logs-metrics-uptime.html
3. https://www.elastic.co/guide/en/observability/8.2/ingest-traces.html
4. https://www.elastic.co/guide/en/fleet/8.2/upgrade-integration.html
5.

[2022-05-16 11:56] manishgupta-qasource commented on #1877
Reviewed & mention to @dedemorton

[2022-05-16 11:56] manishgupta-qasource commented on #1876
Reviewed & mention to @dedemorton

[2022-05-16 14:11] kpollich commented on #1819
For the Fleet UI side, we may want to regenerate any screenshots of the agent listing table to include the new tags column.

The changes to Fleet UI in 8.3 around tags are geared towards a minimally viable implementation, so in this release we're only including two basic UI features:

- Displaying tags in the "agents" table
- Allowing users to filter by tags using the agent table's filter dropdown

[2022-05-16 15:53] goodroot commented on #1848
@cchaos 👋 This has came up previously, checking with you. What is the feasibility of MDX support inside of the Kibana interface, so files matching the next docs spec can render without issue?

[2022-05-16 16:28] dedemorton commented on #1876
Thanks! Good catch.

[2022-05-16 17:39] spalger commented on #1848
I think it's possible but we'd need to define support for all the default Components exposed by docsmobile to `.mdx` files, like `<DocLink />`, and a host of others... I could imagine docsmobile exposing a webpack loader or something which would power turning the `.mdx` file into a JS module which could be rendered in Kibana and include all the dependencies it needs but I don't think it's somethin

[2022-05-16 21:56] dedemorton commented on #1857
@jlind23 We need more guidance to develop this content. Can someone on the development team please provide more detail about how to install and configure a self-managed Fleet Server when using our Elasticsearch Service on Elastic Cloud? If this deployment strategy is not supported, then we need to remove the statement that says it is possible.

[2022-05-16 23:03] bmorelli25 opened #1878 "Move integrations nav"
### Summary

The integrations nav should be moved into the `integrations` dir in `elastic/wordlake`. To do this, the doc-gen script first has to exclude whatever dir the nav lives in.

### Tasks

- [x] Move nav to `integrations/_nav`
- [x] Exclude the `_nav` dir from the doc gen script
- [x] Update docs

[2022-05-16 23:07] goodroot commented on #1848
Thanks both!

1. Yes, eventually they will be checked whether they're doclinks or markdown links. Currently, only build-level checks on doclinks will create a failure.
2. In the future, link checks will not be a build failure condition. We'll report on them actively, and be prepared to fix them quickly, however we will not cause the condition to fail builds.

[2022-05-17 15:10] jlind23 commented on #1857
@AndersonQ could you pair with dede here as it may also help you gain more context around fleet server.

[2022-05-17 16:29] #1840 closed

[2022-05-17 22:36] #1444 closed

[2022-05-17 23:13] #876 closed

[2022-05-18 15:27] AndersonQ commented on #1857
Yes I can :)

[2022-05-19 17:14] #1845 closed

[2022-05-19 21:47] bmorelli25 commented on #1226
When we're ready to document custom ingest pipelines, we also need to remove the commented-out content added in https://github.com/elastic/apm-server/pull/8043.

[2022-05-20 15:39] ravikesarwani opened #1884 "Bring Elastic serverless forwarder documentation to Elastic standard for 8.3 GA"
This is a request for the doc team to update the Elastic serverless forwarder [documentation](https://github.com/elastic/elastic-serverless-forwarder/blob/main/docs/README-AWS.md) and make it up to the Elastic doc standard as we are making this functionality GA for 8.3.

[2022-05-20 15:39] ravikesarwani commented on #1884
cc: @aspacca

[2022-05-23 18:20] bmorelli25 commented on #1848
Thanks, everyone! The more I dig into this, the more I realize our initial plan of building `readme.mdx` files by default (via `elastic-package build`) might not be an option—at least by itself. It’s likely part of a bigger solution. The three potential solutions I now see are:

#### (1) Add Kibana support for `.mdx` files and [Docsmobile](https://github.com/elastic/docsmobile):

Disclaimer: I’m a

[2022-05-23 18:33] dedemorton commented on #1848
Do we have any user feedback on the current approach (docs in Kibana + an external website)? It would be interesting to know whether users even _want_ in-product reference docs about integrations.

I prefer the 2nd approach as long as the docs in Kibana provide sufficient context so users understand what the integration provides and why to use it. I have a feeling that users probably don't navigat

[2022-05-23 19:12] travisestill opened #1886 "APM reader user article defaults to the "Data Stream" tab, but displays information from the "Classic APM indices" tab"
## Description

https://www.elastic.co/guide/en/kibana/8.2/apm-app-reader.html

## Collaboration
Discovered and confirmed by Elastic Support.

## Steps to reproduce:

1. Go to https://www.elastic.co/guide/en/kibana/8.2/apm-app-users.html
2. Click “Create an APM reader user” (or go to this page directly)
3. Observer that you are on the “Data Streams” tab, but seeing the information for "Classic APM

[2022-05-24 03:07] bmorelli25 opened #1887 "test issue for automation"
please ignore

[2022-05-24 08:52] mgiota opened #1889 "Add documentation for new Observability Rule Detail page"
## Description

A new rule details page within Observability context will be made available. This view needs to be documented. https://github.com/elastic/kibana/issues/129777

## Collaboration

- The docs team will lead producing the content, in close collaboration with the product team

**Contact Person:**
@fkanout

## Suggested Target Release
8.3

## Stakeholders

@emma-raffenne
@simianhacker
@v

[2022-05-24 09:19] mgiota opened #1890 "[Request]"
## Description

There were a few UI changes in the current o11y rule details page, that need to be documented https://github.com/elastic/kibana/issues/132777
## Collaboration
- The docs team will lead producing the content, in close collaboration with the product team

**Contact Person:**
@mgiota

## Suggested Target Release
8.3

## Stakeholders

@emma-raffenne
@simianhacker
@vinaychandrasekhar

[2022-05-25 10:05] AndersonQ commented on #1857
Sorry for the delay. I still need to investigate it

[2022-05-25 19:13] colleenmcginnis commented on #1848
Another pro is that there may be some content that is relevant in the docs, but isn't relevant in Kibana. For example, [in the Cisco Meraki description](https://docs.elastic.co/integrations/cisco_meraki#enabling-the-integration-in-elastic) we provide instructions on how to get to the integration in Kibana. (And in the PRs addressing https://github.com/elastic/observability-docs/issues/1019 we poin

[2022-05-25 23:54] #982 closed

[2022-05-26 15:40] #1887 closed

[2022-05-26 22:48] dedemorton opened #1905 "Identify minimum viable config docs for standalone Elastic Agent"
Users running standalone agents need reference documentation that describes:

- The structure of the standalone config file, elastic-agent.yml.
- The settings that are valid in the configuration and their defaults.
- Realist configuration examples.

We need to identify the minimal config documentation that standalone users require to be successful.

### Assumptions (draft)
- Standalone users will

[2022-05-30 11:21] paulb-elastic opened #1906 "[Synthetics] Document new `push` feature"
## Description

A new `push` feature is being [implemented](https://github.com/elastic/synthetics/issues/494) which supersedes the ZIP URL (aka suites, which currently works via the Synthetics Integration, or from the `heartbeat.yml`).

The new `push` solution is for `push`ing monitor configurations (likely from a repository of some kind) to the user’s stack, for running on the Synthetics Service,

[2022-05-30 11:31] paulb-elastic opened #1907 "[Synthetics] Document the Script Recorder"
## Description

Whilst we’ve been building and changing the Script Recorder, it’s only had very basic documentation in the [GitHub repo](https://github.com/elastic/synthetics-recorder#elastic-synthetics-recorder).

With the recent release of the [first beta version](https://github.com/elastic/synthetics-recorder/releases/tag/v0.0.1-beta.1), and the fact that not much will change now before GA (pla

[2022-05-31 18:34] lucasfcosta commented on #1906
I've added @vigneshshanmugam to the issue so that he can track this one given he would like to update the agent to include links to the docs once released.

[2022-05-31 19:14] kpollich opened #1908 "[Request] [Fleet] Improve Elastic Agent installation documentation to capture architectural need for "collector" hosts when integrations are run remotely"
## Description

For many integrations (see list below), the subject being monitored is not run directly on the host instance running Elastic Agent. The actual service in question may be running on a separate piece of hardware like a firewall, or may expose its logs via `syslog` or an HTTP endpoint. Our integrations handle these cases, but the documentation around Agent can be confusing. For exampl